<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<div layout:fragment="content">
<th:block layout:fragment="extraCSS">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/joinForm.css">
    <!--===============================================================================================-->
</th:block>

<div class="max-width">
<section class="join-form">
    <main class="flex-shrink-0">
    <div class="container col-lg-10">
        <h3 class="header_join">회원가입</h3>
        <form action="/join" th:action th:object="${memberDto}" method="post">
            <div class="main_join_wrap">
                <div class="main_join_box1">
                    <p>이름</p>
                        <div class="main_join_input_group main_join_input_box1">
                            <input class="main_join_input main_join_input1" type="text" id="name" th:field="*{name}"
                                   th:placeholder="@{이름을 입력하세요.}" th:errorclass="field-error">
                        </div>
                    <span id="nameCheck"></span>
                    <div class="field-error" th:each="error, stat : ${#fields.errors('name')}" th:text="${error}" th:if="${stat.first}" />
                </div>

                <div class="main_join_box1">
                    <p>닉네임</p>
                    <div class="main_join_input_group main_join_input_box2">
                        <input class="main_join_input main_join_input1" type="text" id="nickname" th:field="*{nickname}"
                               th:placeholder="@{닉네임을 입력하세요.}" th:errorclass="field-error">
                    </div>
                    <span id="nicknameCheck"></span>
                    <div class="field-error" th:errors="*{nickname}" />
                </div>

                <div class="main_join_box2">
                    <p>이메일</p>
                    <div class="row">
                        <div class="col-9">
                            <div class="main_join_input_group main_join_input_box3 main_join_chk">
                                <p>
                                    <input class="main_join_input main_join_input2" type="email" id="email" th:field="*{email}"
                                           th:placeholder="@{이메일을 입력하세요.}" th:errorclass="field-error">
                                </p>
                            </div>
                        </div>
                        <div class="col-3">
                            <p id="emailChk" class="doubleChk main_join_chk">인증번호</p>
                        </div>
                    </div>

                    <p id="emailCheck"></p>

                    <div class="row">
                        <div class="col-8">
                            <p class="main_join_email_chk main_join_email_double"><input id="sm_email" type="text" name="sm_email" th:placeholder="@{인증번호를 입력하세요.}" title="인증번호 입력" disabled required/></p>
                        </div>
                        <div class="col-4">
                            <p id="emailChk2" class="doubleChk main_join_email_double">이메일 인증</p>
                        </div>
                    </div>

                    <input type="hidden" id="emailDoubleChk"/>
                    <div class="successEmailChk"/>
                    <div class="field-error" th:errors="*{email}"/>
                </div>

                <div class="main_join_box3">
                    <p>비밀번호</p>
                    <div class="main_join_input_group main_join_input_box4">
                        <input class="main_join_input main_join_input3" type="password" id="password" th:field="*{password}"
                               th:placeholder="@{비밀번호를 입력하세요.}" th:errorclass="field-error">
                    </div>
                    <div class="field-error" th:each="error, stat : ${#fields.errors('password')}" th:text="${error}" th:if="${stat.first}" />
                </div>

                <div class="main_join_box3">
                    <p>비밀번호 확인</p>
                    <div class="main_join_input_group main_join_input_box5">
                        <input class="main_join_input main_join_input4" type="password" id="password_check"
                               th:placeholder="@{비밀번호 중복 확인}">
                    </div>
                    <span id="same"></span>
                </div>

                <div class="main_join_box6 main_join_box_group">
                    <p>성별</p>
                    <div class="main_join_input_box6">
                        <select id="main_join_input_sex_select" class="main_join_input_sex_select"
                        th:field="*{gender}">
                            <option value="">성별</option>
                            <option th:each="gender : ${gender}" th:value="${gender.code}"
                                    th:text="${gender.gender}"></option>
                        </select>
                        <div class="field-error" th:errors="*{gender}"/>
                    </div>
                </div>

                <div>
                    <button class="main_join_BTN" id="button" type="submit" >가입하기</button>
                </div>
            </div>
        </form>
        </div>
    </main>
</section>
</div>
</div>

<th:block layout:fragment="extraJs">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/


		$('#name').focusout(function() {
            let name = $('#name').val();
            if(name != '') {
                $.ajax({
                    url : "/join/nameCheck",
                    type : "post",
                    data : {name:name},
                    dataType : 'json',
                    success : function(result) {
                        if(result == 1) {
                            $('#nameCheck').text('한글 이름 형태로 입력해주세요.');
                            $('#nameCheck').css("color","red");
                            $('#button').attr("disabled", true);
                        } else {
                            $('#nameCheck').text('사용 가능한 이름입니다.');
                            $('#nameCheck').css("color","green");
                        }
                    },
                    /*error : function() {
                        alert("서버 요청 실패");
                            $('#button').attr("disabled", true);
                    }*/
                })
            }
        })

		$('#nickname').focusout(function() {
		    let nickname = $('#nickname').val();
		    if(nickname != '') {
                $.ajax({
                    url : "/join/nicknameCheck",
                    type : "post",
                    data : {nickname:nickname},
                    dataType : 'json',
                    success : function(result) {
                        if(result == 0) {
                            $('#nicknameCheck').text('사용 가능한 닉네임입니다.');
                            $('#nicknameCheck').css("color","green");
                        } else if(result == 3) {
                            $('#nicknameCheck').text('공백 혹은 특수 문자는 입력하실 수 없습니다.');
                            $('#nicknameCheck').css("color","red");
                            $('#button').attr("disabled", true);
                        } else if(result == 2) {
                            $('#nicknameCheck').text('닉네임은 2~10자리 이내여야 합니다.');
                            $('#nicknameCheck').css("color","red");
                            $('#button').attr("disabled", true);
                        } else {
                            $('#nicknameCheck').text('사용할 수 없는 닉네임입니다.');
                            $('#nicknameCheck').css("color","red");
                            $('#button').attr("disabled", true);
                        }
                    },
                    error : function() {
                        alert("서버 요청 실패");
                            $('#button').attr("disabled", true);
                    }
                })
            }
        })


        $('#email').focusout(function() {
            let email = $('#email').val();
                if(email != '') {
                $.ajax({
                    url : "/join/emailCheck",
                    type : "post",
                    data : {email:email},
                    dataType : 'json',
                    success : function(result) {
                        if(result == 0) {
                            $('#emailCheck').text('사용 가능한 이메일입니다.');
                            $('#emailCheck').css("color","green");
                        } else if(result == 2) {
                            $('#emailCheck').text('이메일 형식에 맞지 않습니다.');
                            $('#emailCheck').css("color","red");
                            $('#button').attr("disabled", true);
                        } else {
                            $('#emailCheck').text('이미 사용 중인 이메일입니다.');
                            $('#emailCheck').css("color","red");
                            $('#button').attr("disabled", true);
                        }
                    },
                    error : function() {
                        alert("서버 요청 실패");
                            $('#button').attr("disabled", true);
                    }
                })
            }
        })

        $(function(){
        //비밀번호 확인
            $('#password_check').blur(function(){
               if($('#password').val() != $('#password_check').val()){
                    if($('#password_check').val()!=''){
                        $('#same').text('비밀번호가 일치하지 않습니다.');
                        $('#same').css("color","red");
                        $('#button').attr("disabled", true);
                    }
               }
               else if($('#password').val() == $('#password_check').val())  {
                   if($('#password_check').val()!=''){
                        $('#same').text('비밀번호가 일치합니다.');
                        $('#same').css("color","green");
                   }
               }
            })
        });

        //이메일 인증
        var code = "";
        $("#emailChk").click(function(){
            var email = $("#email").val();
            if(!email.length) {
                alert("이메일을 입력해주세요.");
            } else {
                $.ajax({
                    type:"POST",
                    url:"/join/mailCheck",
                    data : {email:email},
                    dataType : 'json',
                    cache : false,
                    success:function(result){
                        if(result == "error"){
                            alert("이메일 주소가 올바르지 않습니다. 유효한 이메일 주소를 입력해주세요.");
                            $("#email").attr("autofocus",true);
                            $(".successEmailChk").text("유효한 이메일 주소를 입력해주세요.");
                            $(".successEmailChk").css("color","red");
                            $('#button').attr("disabled", true);
                        }else{
                            alert("인증번호 발송이 완료되었습니다.\n 이메일에서 인증번호 확인을 해주십시오.");
                            $("#sm_email").attr("disabled",false);
                            $(".successEmailChk").text("인증번호를 입력한 뒤 이메일 인증을 눌러주십시오.");
                            $(".successEmailChk").css("color","green");
                            code = result;
                        }
                    }
                });
            }
        });

        //이메일 인증번호 대조
        $("#emailChk2").click(function(){
            if($("#sm_email").val() != '') {
                if($("#sm_email").val() == code){
                    $(".successEmailChk").text("인증번호가 일치합니다.");
                    $(".successEmailChk").css("color","green");
                    $("#emailDoubleChk").val("true");
                    $("#sm_email").attr("disabled",true);
                    $('#button').attr("disabled", false);
                }else{
                    $(".successEmailChk").text("인증번호가 일치하지 않습니다. 확인해주시기 바랍니다.");
                    $(".successEmailChk").css("color","red");
                    $("#emailDoubleChk").val("false");
                    $("#sm_email").attr("autofocus",true);
                    $('#button').attr("disabled", true);
                }
            }
            else if($("#sm_email").val().length == 0) {
                    $(".successEmailChk").text("인증번호를 입력해주세요.");
                    $(".successEmailChk").css("color","red");
                    $('#button').attr("disabled", true);
            }
        });

		/*]]>*/
</script>
</th:block>
</html>