<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DoIT 로그인</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link th:href="@{/css/login.css}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.bundle.min.js" defer></script>

    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>

<body>
<div id="wrap">
    <header id="header">
        <section id="header_section">
            <div class="header_logo"></div>
        </section>
    </header>
    <main id="main">
        <section id="main_section">
            <div class="main_section_wrap">
                <p class="main_login_title"></p>
                <form action="/login" th:action th:object="${loginDto}" method="post">

                    <div class="main_login_wrap">

                        <div class="main_login_ID_wrap">
                            <img alt="ID" src="/img/ID-icon.png" class="main_login_ID_group main_login_ID_img"/>
                            <div class="main_login_ID_group main_login_ID_padding">

                                <input class="main_login_ID" type="text" id="loginEmail" th:field="*{email}"
                                       placeholder="아이디를 입력하세요." th:errorclass="field-error">
                            </div>
                        </div>
                        <div class="field-error" th:errors="*{email}" />

                        <div class="main_login_PW_wrap">
                            <img alt="PW" src="/img/PW-icon.png" class="main_login_PW_group main_login_PW_img"/>
                            <div class="main_login_PW_group main_login_PW_padding">
                                <input class="main_login_PW" type="password" id="password" th:field="*{password}"
                                       placeholder="비밀번호를 입력하세요." th:errorclass="field-error">
                            </div>
                        </div>
                        <div class="field-error" th:errors="*{password}" />

                        <div th:if="${#fields.hasGlobalErrors()}">
                            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                        </div>

                        <div class="main_login_BTN_wrap">
                            <button class="main_login_BTN" type="submit">로그인</button>
                        </div>

                        <div class="main_login_join_BTN_wrap">
                            <p class="main_login_join">
                                <a href="#" th:href="@{/join}" class="main_login_join_BTN">회원가입</a>
                            </p>
                            <p class="main_login_IDPW">
                                <a type="button" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="main_login_IDPW_BTN">비밀번호 찾기</a>
                            </p>
                        </div>

                        <div class="main_login_border_wrap">
                            <span class="main_login_border">간편로그인</span>
                        </div>
                    </div>
                </form>
                <div class="main_login_naver_wrap">
                    <button class="main_login_kakao" th:onclick="'location.href=\''+ @{${kakaoUrl}} + '\''">
                        <img src="/img/kakaologo.jpg" alt="kakao" class="main_login_kakao_img"/>
                        카카오 계정으로 로그인</button>
                    <button class="main_login_naver" th:onclick="'location.href=\''+ @{${naverUrl}} + '\''">
                        <img src="/img/네이버.png" alt="naver" class="main_login_naver_img"/>
                        네이버 계정으로 로그인</button>
                </div>
            </div>
        </section>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">비밀번호 찾기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="findPassword" placeholder="이메일을 입력하세요.">
                        <label for="findPassword">이메일</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" id="sendTempPwd" class="btn btn-primary">비밀번호 찾기</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

        //임시비밀번호 발급
        $("#sendTempPwd").click(function(){
            let data = {
                email : $('#findPassword').val()
            }
            const check = confirm("임시비밀번호를 발급하시겠습니까?")
            if (check === true) {
                $.ajax({
                    type:"POST",
                    url:"/login/findPassword/",
                    dataType : 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    cache : false,
                }).done(function(response) {
                    alert(response.result);
                    window.location.reload();
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                });
            }
        });

		/*]]>*/
</script>
</body>
</html>