<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<div layout:fragment="content" class="max-width">

<th:block layout:fragment="extraCSS">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/css/edit.css">
  <!--===============================================================================================-->
</th:block>

<section class="edit">
<main id="main">
  <div class="main_wrap">
    <h3 class="header_edit">회원 정보 수정</h3>

    <div id="main_container">
      <form>
        <div class="container">
          <p class="main_text_group main_form_text" >닉네임</p>
          <div class="main_text_group main_input_group main_nickname ">
            <input hidden id="originalNickname" th:value="${profileDto.nickname}">
            <input hidden id="id" th:value="${profileDto.id}">
            <input th:value="${profileDto.nickname}" id="nickname" type="text" placeholder="닉네임을 입력해 주세요">
          </div>
          <span id="nicknameCheck"></span>
        </div>
        <th:block th:if="${profileDto.password != null}">
          <div class="container">
            <p class="main_text_group main_form_text">비밀번호</p>
            <div class="main_text_group main_input_group ">
              <input type="password" id="password" placeholder="비밀번호를 입력해 주세요">
            </div>
            <span id="passwordCheck"></span>
          </div>
          <div class="container">
            <p class="main_text_group main_form_text">비밀번호 확인</p>
            <div class="main_text_group main_input_group ">
              <input type="password" id="password-two" placeholder="비밀번호를 한번 더 입력해 주세요">
            </div>
            <span id="doubleCheck"></span>
          </div>
        </th:block>
        <div class="row" id="row-btn">
          <div class="col text-end">
            <button class="btn btn-primary" id="modify-btn" disabled>회원 수정</button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal" id="delete-btn">계정 탈퇴</button>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">회원 정보 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="form-floating">
                  <input type="text" class="form-control" id="deleteText" placeholder="삭제하시려면 '삭제'를 입력하세요.">
<!--                  <label for="deleteText">삭제</label>-->
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" id="floatingDelete" class="btn btn-primary">삭제</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
</section>
<th:block layout:fragment="extraJs">

  <script type="text/javascript" src="/js/edit.js"></script>

</th:block>
</div>
</html>