<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<div layout:fragment="content">
<th:block layout:fragment="extraCSS">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/joinForm.css">
    <!--===============================================================================================-->
</th:block>

<div class="max-width">
<section class="join-form">
    <main class="flex-shrink-0">
    <div class="container col-lg-10">
        <h3 class="header_join">회원가입</h3>
        <form action="/join" th:action th:object="${memberDto}" method="post">
            <div class="main_join_wrap">
                <div class="main_join_box1">
                    <p>이름</p>
                        <div class="main_join_input_group main_join_input_box1">
                            <input class="main_join_input main_join_input1" type="text" id="name" th:field="*{name}"
                                   th:placeholder="@{이름을 입력하세요.}" th:errorclass="field-error">
                        </div>
                    <span id="nameCheck"></span>
                    <div class="field-error" th:each="error, stat : ${#fields.errors('name')}" th:text="${error}" th:if="${stat.first}" />
                </div>

                <div class="main_join_box1">
                    <p>닉네임</p>
                    <div class="main_join_input_group main_join_input_box2">
                        <input class="main_join_input main_join_input1" type="text" id="nickname" th:field="*{nickname}"
                               th:placeholder="@{닉네임을 입력하세요.}" th:errorclass="field-error">
                    </div>
                    <span id="nicknameCheck"></span>
                    <div class="field-error" th:errors="*{nickname}" />
                </div>

                <div class="main_join_box2">
                    <p>이메일</p>
                    <div class="row">
                        <div class="col-9">
                            <div class="main_join_input_group main_join_input_box3 main_join_chk">
                                <p>
                                    <input class="main_join_input main_join_input2" type="email" id="email" th:field="*{email}"
                                           th:placeholder="@{이메일을 입력하세요.}" th:errorclass="field-error">
                                </p>
                            </div>
                        </div>
                        <div class="col-3">
                            <p id="emailChk" class="doubleChk main_join_chk">인증번호</p>
                        </div>
                    </div>

                    <p id="emailCheck"></p>

                    <div class="row">
                        <div class="col-8">
                            <p class="main_join_email_chk main_join_email_double"><input id="sm_email" type="text" name="sm_email" th:placeholder="@{인증번호를 입력하세요.}" title="인증번호 입력" disabled required/></p>
                        </div>
                        <div class="col-4">
                            <p id="emailChk2" class="doubleChk main_join_email_double">이메일 인증</p>
                        </div>
                    </div>

                    <input type="hidden" id="emailDoubleChk"/>
                    <div class="successEmailChk"/>
                    <div class="field-error" th:errors="*{email}"/>
                </div>

                <div class="main_join_box3">
                    <p>비밀번호</p>
                    <div class="main_join_input_group main_join_input_box4">
                        <input class="main_join_input main_join_input3" type="password" id="password" th:field="*{password}"
                               th:placeholder="@{비밀번호를 입력하세요.}" th:errorclass="field-error">
                    </div>
                    <div class="field-error" th:each="error, stat : ${#fields.errors('password')}" th:text="${error}" th:if="${stat.first}" />
                </div>

                <div class="main_join_box3">
                    <p>비밀번호 확인</p>
                    <div class="main_join_input_group main_join_input_box5">
                        <input class="main_join_input main_join_input4" type="password" id="password_check"
                               th:placeholder="@{비밀번호 중복 확인}">
                    </div>
                    <span id="same"></span>
                </div>

                <div class="main_join_box6 main_join_box_group">
                    <p>성별</p>
                    <div class="main_join_input_box6">
                        <select id="main_join_input_sex_select" class="main_join_input_sex_select"
                        th:field="*{gender}">
                            <option value="">성별</option>
                            <option th:each="gender : ${gender}" th:value="${gender.code}"
                                    th:text="${gender.gender}"></option>
                        </select>
                        <div class="field-error" th:errors="*{gender}"/>
                    </div>
                </div>

                <div>
                    <button class="main_join_BTN" id="button" type="submit" >가입하기</button>
                </div>
            </div>
        </form>
        </div>
    </main>
</section>
</div>
</div>

<th:block layout:fragment="extraJs">

    <script type="text/javascript" src="/js/joinform.js"></script>

</th:block>
</html>