<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<div layout:fragment="content" class="max-width">
<th:block layout:fragment="extraCSS">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/joinForm.css">
    <!--===============================================================================================-->
</th:block>
<section class="join-form">
    <h2 class="header_join">회원가입</h2>
    <main id="main">
        <form action="/join/naver" th:action th:object="${naverDto}" method="post">
        <input type="hidden" th:field="*{social_type}">
        <input type="hidden" th:field="*{token}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <div class="main_join_wrap">
                <div class="main_join_box1">
                    <p>이름</p>
                    <div class="main_join_input_group main_join_input_box">
                        <input class="main_join_input main_join_input" type="text" id="name" th:value="${naverDto.socialName}"
                               readonly>
                    </div>
                    <span id="nameCheck"></span>
                </div>

                <div class="main_join_box1">
                    <p>닉네임</p>
                    <div class="main_join_input_group main_join_input_box">
                        <input class="main_join_input main_join_input1" type="text" id="nickname" th:field="*{socialNickname}"
                               th:placeholder="@{닉네임을 입력하세요.}" th:errorclass="field-error">
                    </div>
                    <span id="nicknameCheck"></span>
                    <div class="field-error" th:errors="*{socialNickname}" />
                </div>

                <div class="main_join_box2">
                    <p>이메일</p>
                    <div class="main_join_input_group main_join_input_box">
                        <p th:if="${not #strings.isEmpty(naverDto.socialEmail)}">
                            <input class="main_join_input main_join_input2" type="email" id="emailNaver"
                                   th:value="${naverDto.socialEmail}" readonly>
                        </p>
                    </div>
                </div>

                <div class="main_join_box6 main_join_box_group">
                    <p>성별</p>
                    <div class="main_join_input_box6">
                        <select readonly th:if="${not #strings.isEmpty(naverDto.socialGender)}" id="main_join_input_sex_select2" class="main_join_input_sex_select"
                                th:value="${naverDto.socialGender}">
                            <th:block th:if="${#strings.equals(naverDto.socialGender, 'M')}">
                                <option th:value="${naverDto.socialGender}" th:text="남자">
                                </option>
                            </th:block>
                            <th:block th:if="${#strings.equals(naverDto.socialGender, 'F')}">
                                <option th:value="${naverDto.socialGender}" th:text="여자">
                                </option>
                            </th:block>
                        </select>
                    </div>
                </div>

                <div>
                    <button class="main_join_BTN" type="submit">가입하기</button>
                </div>
            </div>
        </form>
    </main>
</section>
</div>
<th:block layout:fragment="extraJs">

    <script type="text/javascript" src="/js/naver.js"></script>

</th:block>
</html>