<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<body  class="d-flex flex-column h-100">
<div layout:fragment="content">
<main class="flex-shrink-0">
  <section class="section">
    <div class="container col-lg-10">
      <div class="row row5">
        <form class="formSearch">
          <h5 class="mt-5">원하는 스터디 그룹을 찾아보세요 🔎</h5>
          <div class="card mb-2">
            <div class="card-body p-2 mt-1">
              <div class="row mb-2">
                <div class="col-2 text-center">
                  <label class="col-form-label" for="firstCategory">
                    <h6 class="mb-0">카테고리</h6>
                  </label>
                </div>
                <div class="col-3">
                  <select id="firstCategory" name="firstCategory" class="form-control" onchange="category_change(this.value, secondCategory)">
                    <option value="">선택하세요.</option>
                    <option value="1">개발</option>
                    <option value="2">자격증</option>
                    <option value="3">프로젝트</option>
                  </select>
                </div>
                <div class="col-3">
                  <select id="secondCategory" name="secondCategory" class="form-control" onchange="category2_change(this.value, thirdCategory)">
                    <option value="">선택하세요.</option>
                  </select>
                </div>
                <div class="col-3">
                  <select id="thirdCategory" name="thirdCategory" class="form-control">
                    <option value="">선택하세요.</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="card-body p-2 mt-1">
              <div class="row mb-2">
                <div class="col-2 text-center">
                  <label class="col-form-label" for="firstZone">
                    <h6 class="mb-0">지역</h6>
                  </label>
                </div>
                <div class="col-4">
                  <select id="firstZone" name="firstZone" class="form-control" onchange="zone_change(this.value, secondZone)">
                    <option value="">선택하세요.</option>
                    <option value="1">서울특별시</option>
                    <option value="2">부산광역시</option>
                    <option value="3">대구광역시</option>
                    <option value="4">인천광역시</option>
                    <option value="5">광주광역시</option>
                    <option value="6">대전광역시</option>
                    <option value="7">울산광역시</option>
                    <option value="8">강원도</option>
                    <option value="9">경기도</option>
                    <option value="10">경상남도</option>
                    <option value="11">경상북도</option>
                    <option value="12">전라남도</option>
                    <option value="13">전라북도</option>
                    <option value="14">충청남도</option>
                    <option value="15">충청북도</option>
                    <option value="16">제주도</option>
                  </select>
                </div>
                <div class="col-4">
                  <select id="secondZone" name="secondZone" class="form-control">
                    <option>선택하세요.</option>
                  </select>
                </div>
                <div class="col-2">
                  <div class="form-check pl-0 py-1">
                    <input type="checkbox" name="online" id="online" class="form-check-inline mr-1" value="Y">
                    <input type="hidden" name="online" class="form-check-inline mr-1" value="N">
                    <label class="form-check-label online" for="online">Online</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body p-2 mt-1">
              <div class="row mb-2">
                <div class="col-2 text-center">
                    <label class="col-form-label" for="searchKeyword">
                      <h6 class="mb-0">검색어</h6>
                    </label>
                  </div>
                  <div class="col-8">
                    <input type="text" id="searchKeyword" class="form-control" placeholder="찾고있는 스터디를 검색해보세요."
                    name="keyword" value>
                  </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-end">
              <button type="reset" id="resetSearch" class="btn btn-secondary btn-sm">초기화</button>
              <button type="submit" class="btn btn-sm btn-primary btn-search">검색하기</button>
            </div>
          </div>
        </form>
      </div>
        <div class="row mt-4">
          <div class="col-8">
            <h2 class="fw-bolder fs-4 mb-4">당신이 원하는 스터디그룹을 찾아보세요.</h2>
          </div>
          <div class="col text-end">
            <th:block th:if="${session.nickName != null}">
            <a class="text-decoration-none btn btn-primary" th:href="@{/board/write}">
              <i class="bi bi-plus-lg"></i>
              스터디그룹
            </a>
            </th:block>
          </div>
        </div>
      <div class="container2 mt-3">
        <div class="row gx-4 gx-lg-5">

        <th:block th:each="list : ${list}">
          <div class="col-md-4 mb-5">
            <div class="card h-100 shadow border-0">
              <div class="row">
                <div class="col-4 mt-2 ms-4">
                  <div class="badge bg-gradient rounded-pill mb-2" style="background-color : green">[[${list.board_interest1}]]</div>
                </div>
                <div class="col-6 text-end mt-2">
                  <div class="badge bg-gradient rounded-pill mb-2 bg-primary">모집 중</div>
                </div>
              </div>
              <div class="card-body">

                <h2 class="card-title" style="cursor: pointer;"><a th:href="@{/board/result/{id}(id = ${list.board_id})}">
                  [[${list.board_title}]]
                </a></h2>
                <p class="card-text">[[${list.board_subTitle}]]</p>
                <div class="row">
                  <div class="col">
                    <h6 class="d-inline">
                      <span class="badge bg-gradient rounded-pill mb-2 text-dark" style="background-color : #b3e5fc">#[[${list.board_interest2}]]</span>
                      <span class="badge bg-gradient rounded-pill mb-2 text-dark" style="background-color : #b3e5fc">#[[${list.board_interest3}]]</span>
                    </h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6 class="d-inline">
                      <span class="badge badge-info mr-1" style="background-color: blueviolet;">
                        <i class="bi bi-geo-alt"></i>
                        [[${list.board_location}]]
                      </span>
                        <i class="bi-heart" id="btn_like" style="font-size: 1rem; color: red; cursor: pointer; float: right;"></i>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="align-items-end justify-content-between m-lg-2">
                <div class="d-flex align-items-center">
                  <th:block th:if="${list.path} == null">
                    <div style="border-radius : 50%; overflow: hidden;">
                      <img class="rounded-circle me-3" src="https://doitstudybucket.s3.ap-northeast-2.amazonaws.com/profileImageUpload/user.png" id="profile-default-img" style="width: 40px; height: 40px;">
                    </div>
                  </th:block>
                  <th:block th:if="${list.path} != null">
                    <div style="border-radius : 50%; overflow: hidden;">
                      <img class="rounded-circle me-3" th:src="${list.path}" id="profile-img" style="width: 40px; height: 40px;">
                    </div>
                  </th:block>
                  <div class="small">
                    <div class="fw-bold">[[${list.writer_nickName}]]</div>
                    <div class="text-muted">[[${#dates.format(list.board_regDate, 'yyyy-MM-dd')}]]</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </th:block>

      <div class="display-flex-row mt-3">
        <div class="m-auto">
          <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
              <li class="paginate_button page-item">
                <a class="page-link" aria-label="Previous"
                   th:href="@{/board/list(currentPage = ${pagination.currentPage}-1)}">
                  <span aria-hidden="true"><</span>
                </a>
              </li>
              <li class="paginate_button page-item active" th:each="idx : ${#numbers.sequence(pagination.firstPage,pagination.lastPage)}"
                  th:class="${idx == pagination.currentPage} ? 'page-item active'">
                <a class="page-link" th:href="@{'/board/list?currentPage='+${idx}}" th:text="${idx}" href="javascript:pagination(0)"> 1 </a>
              </li>
              <li class="paginate_button page-item">
                <a class="page-link" aria-label="Next"
                   th:href="@{/board/list(currentPage = ${pagination.currentPage}+1)}">
                  <span aria-hidden="true">></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  </main>
</div>
</body>
<th:block layout:fragment="script">
<script type="text/javascript" th:src="@{/js/zone.js}" ></script>
<script type="text/javascript" th:src="@{/js/category.js}" ></script>
</th:block>
</html>