<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<div layout:fragment="content" class="max-width">

<th:block layout:fragment="extraCSS">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/detail.css">
    <!--===============================================================================================-->
</th:block>
    <section class="board-detail">
        <div class="container col-lg-10 mt-3">
            <div class="row gx-5">
                <th:block th:if="${session.nickName} == null or ${session.id} != ${boardDto.board_writerId}">
                    <div class="col-lg-3">
                        <div class="mobile-display-none">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <div class="row">
                                            <div class="col">
                                                <th:block th:if="${boardDto.path} == null">
                                                    <div class="circle-img">
                                                        <img class="rounded-circle" src="https://doitstudybucket.s3.ap-northeast-2.amazonaws.com/profileImageUpload/user.png">
                                                    </div>
                                                </th:block>
                                                <th:block th:if="${boardDto.path} != null">
                                                    <div class="circle-img">
                                                        <img class="rounded-circle" th:src="${boardDto.path}">
                                                    </div>
                                                </th:block>
                                            </div>
                                            <div class="col">
                                                <div class="mt-3">
                                                <h4 class="text-break">[[${boardDto.writer_nickName}]]</h4>
                                                <p class="text-secondary mb-1"></p>
                                                <a class="btn btn-primary" type="button" th:href="@{/profile/{id}(id = ${boardDto.board_writerId})}">프로필 보기</a>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
                <div class="content-area" th:classappend="${session.id} == ${boardDto.board_writerId} ? 'col-lg-12' : 'col-lg-9'">
                    <article>
                        <div class="mb-4">
                            <div class="row">
                                <div  class="col-9">
                                    <h3 class="header-detail">[[${boardDto.board_title}]]
                                        <th:block th:if="!${boardDto.board_like}">
                                            <button class="btn_like" id="btn_like" th:value="${boardDto.board_id}">
                                                <i class="bi-heart"></i>
                                            </button>
                                        </th:block>
                                        <th:block th:if="${boardDto.board_like}">
                                            <button id="btn_like_delete" th:value="${boardDto.board_id}">
                                                <i class="bi-heart-fill"></i>
                                            </button>
                                        </th:block>
                                    </h3>
                                    <input type="hidden" th:id="boardId" th:value="${boardDto.board_id}">
                                </div>
                                <div class="col-3 text-end pr-0">
                                    <h4>
                                        <span class="badge bg-primary">모집 중</span>
                                    </h4>
                                </div>
                            </div>
                            <div class="row writer-profile">
                                <div class="col text-left">
                                    <span class="text-break">[[${boardDto.writer_nickName}]]</span>
                                    <a class="btn btn-sm btn-secondary" type="button" th:href="@{/profile/{id}(id = ${boardDto.board_writerId})}">프로필 보기</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7">
                                    <div class="mb-2">모집기간 : [[${boardDto.board_startDate}]] ~ [[${boardDto.board_endDate}]]</div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <h5 class="d-inline">
                                        <span class="badge badge-light text-dark mr-1" >#[[${boardDto.board_interest1}]]</span>
                                    </h5>
                                    <h5 class="d-inline">
                                        <span class="badge badge-light text-dark mr-1">#[[${boardDto.board_interest2}]]</span>
                                    </h5>
                                    <h5 class="d-inline">
                                        <span class="badge badge-light text-dark mr-1">#[[${boardDto.board_interest3}]]</span>
                                    </h5>
                                </div>
                                <div class="col-6 text-end">
                                    <th:block th:if="${session.nickName} != null and ${session.id} != ${boardDto.board_writerId}">
                                        <div>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#noteModal" id="note">✉ 쪽지보내기</button>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="noteModalLabel">쪽지 보내기</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <div class="row">
                                                    <input hidden id="sender_id" th:value="${session.id}">
                                                    <div class="col-3" id="receiver-id" th:value=${boardDto.board_writerId} style="padding-right : 0px; width : 19.5%; border-right : dotted 1px black;">
                                                        <span style="line-height : 2.4;">받는 사람</span>
                                                    </div>
                                                    <th:block th:if="${boardDto.path} == null">
                                                        <div class="col-9">
                                                            <img class="rounded-circle-profile" src="https://doitstudybucket.s3.ap-northeast-2.amazonaws.com/profileImageUpload/user.png">
                                                            <span class="nickname">[[${boardDto.writer_nickName}]]</span>
                                                        </div>
                                                    </th:block>
                                                    <th:block th:if="${boardDto.path} != null">
                                                        <div class="col-9">
                                                            <img class="rounded-circle-profile" th:src="${boardDto.path}">
                                                            <span class="nickname">[[${boardDto.writer_nickName}]]</span>
                                                        </div>
                                                    </th:block>
                                                </div>
                                                <hr class="mt-3 mb-3"/>
                                                <div class="mb-3">
                                                    <label for="note-title" class="form-label">제목</label>
                                                    <input type="text" class="form-control" id="note-title" placeholder="제목을 입력해주세요.">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="note-content" class="form-label">내용</label>
                                                    <textarea class="form-control" id="note-content" rows="3" placeholder="내용을 입력해주세요."></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                                <button id="send-note" type="button" class="btn btn-primary">쪽지 보내기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="d-inline">
                                        <span class="badge badge-info mr-1" style="background-color: blueviolet;">
                                          <i class="bi bi-geo-alt">
                                          </i>
                                            <th:block th:if="${boardDto.board_on_off} == '1'">
                                                온라인
                                            </th:block>
                                            <th:block th:if="${boardDto.board_on_off} == '0'">
                                                [[${boardDto.board_location}]]
                                            </th:block>
                                        </span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4" style="min-height: 300px;">
                            <div class="card-body" th:utext="${boardDto.board_content}">
                            </div>
                        </div>
                    </article>
                    <section class="comment">
                        <form name="commentFrm" id="commentFrm">
                            <input type="hidden" name="totalPage" value>
                            <input type="hidden" name="page" value="0">
                        </form>
                        <div class="card bg-light">
                            <div class="card-header">
                                <h4 class="card-title">댓글([[${totalComment}]])</h4>
                                <input type="hidden" name="page" value="0">
                                <form name="frmComment">
                                    <div class="input-group" >
                                        <input type="hidden" id="writerId" name="writerId" th:value="${session.id}">
                                        <input type="hidden" id="boardId" th:value="${boardDto.board_id}">
                                        <textarea class="form-control custom-control" id="comment" name="comment" rows="3" style="resize:none"></textarea>
                                        <button class="input-group-addon btn btn-primary" id="add-comment-btn">작성</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-body comment-section">
                                <div class="d-flex mb-3 parent-comment boarder-bottom mb-2 pb-3">
                                    <input type="hidden" value="15" name="commentId" class="comment-id">
                                    <div class="ms-3 w-100">
                                        <th:block th:if="${comments == null}" >
                                            <div>댓글이 없습니다. 댓글을 작성해주세요.</div>
                                        </th:block>
                                        <th:block th:each="comments : ${comments}">
                                            <div th:style="${comments.group_indent == 1 ? 'padding-left: 40px;' : ''}">
                                                <th:block th:if="${comments.comment} != '삭제된 댓글입니다.'">
                                                <div class="d-flex justify-content-between">
                                                    <div class="left-box">
                                                        <th:block th:if="${comments.group_indent == 1}" >
                                                            <i class="bi bi-arrow-return-right"></i>
                                                        </th:block>
                                                        <div class="flex-shrink-0">
                                                            <th:block th:if="${comments.path} == null">
                                                                <div class="circle-img">
                                                                    <img class="rounded-circle-comment" src="https://doitstudybucket.s3.ap-northeast-2.amazonaws.com/profileImageUpload/user.png" id="profile-default-img">
                                                                </div>
                                                            </th:block>
                                                            <th:block th:if="${comments.path} != null">
                                                                <div class="circle-img">
                                                                    <img class="rounded-circle-comment" th:src="${comments.path}" id="profile-img">
                                                                </div>
                                                            </th:block>
                                                        </div>
                                                        <div class="fw-bold commenter-name" style="font-size:0.90rem;">[[${comments.nickname}]]</div>
                                                        <div>
                                                            <small class="text-muted text-sm date-panel">[[${#dates.format(comments.reg_date, 'yyyy-MM-dd HH:mm:ss')}]]</small>
                                                        </div>
                                                    </div>
                                                    <div class="reply-panel mr-2">
                                                        <th:block th:if="${session.id == comments.writer_id}" >
                                                        <button type="button" class="btn btn-light" th:id="'modify-comment'+${comments.comment_id}" th:value="${comments.comment_id}"><i class="bi bi-pencil-square"></i>수정</button>
                                                        </th:block>
                                                        <th:block th:if="${session.id == comments.writer_id}" >
                                                        <button type="button" class="btn btn-light" th:id="'delete-comment'+${comments.comment_id}" th:value="${comments.comment_id}"><i class="bi bi-trash"></i>삭제</button>
                                                        </th:block>
                                                        <button type="button" class="btn btn-light" th:id="'reply-comment'+${comments.comment_id}" th:value="${comments.comment_id}"><i class="bi bi-chat"></i>댓글</button>
                                                    </div>
                                                </div>
                                                </th:block>
                                                <ul class="list-group-flush">
                                                    <li class="list-group-item">
                                                        <div th:id="'reply-content'+${comments.comment_id}">[[${comments.comment}]]</div>
                                                        <hr class="mt-3 mb-3"/>
                                                    </li>
                                                </ul>
                                                <form class="re-reply-form">
                                                    <input type="hidden" th:id="'writerId'+${comments.comment_id}" th:value="${session.id}">
                                                    <input type="hidden" th:id="'receiverId'+${comments.comment_id}" th:value="${comments.writer_id}">
                                                    <input type="hidden" th:id="'boardId'+${comments.comment_id}" th:value="${boardDto.board_id}">
                                                    <input type="hidden" th:id="'groupId'+${comments.comment_id}"  th:value="${comments.group_id} != null ? ${comments.group_id} : ${comments.comment_id}">
                                                    <input type="hidden" id="group_indent" value="1">
                                                    <div th:id="'reply-textarea'+${comments.comment_id}" class="reply-textarea" style="display : none">
                                                        <div class="re-reply-container">
                                                           <div class='re-reply'>댓글</div>
                                                           <textarea class='form-control custom-control re-reply' th:id="'reply'+${comments.comment_id}" name='comment' rows='3'></textarea>
                                                           <button class='input-group-addon btn btn-primary btn-sm reply-btn' th:value="${comments.comment_id}" th:id="'add-reply-comment-btn'+${comments.comment_id}">작성</button>
                                                       </div>
                                                    </div>
                                                    <div th:id="'re-reply-textarea'+${comments.comment_id}" class="reply-textarea" style="display : none">
                                                        <div class="re-reply-container">
                                                            <div class='re-reply'>댓글</div>
                                                            <textarea class='form-control custom-control re-reply' th:id="'modify'+${comments.comment_id}" name='comment' rows='3'>[[${comments.comment}]]</textarea>
                                                            <button class='input-group-addon btn btn-primary btn-sm reply-modify-btn' th:value="${comments.comment_id}" th:id="'add-re-reply-comment-btn'+${comments.comment_id}">작성</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <th:block th:if="${session.id} == ${boardDto.board_writerId}">
                            <div class="write">
                                <a class="btn btn-secondary btn-lg btn-block mt-2" type="button" id="edit">수정하기</a>
                                <button class="btn btn-secondary btn-lg btn-block mt-2" th:value="${boardDto.board_id}" type="button" id="delete">삭제하기</button>
                            </div>
                        </th:block>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="extraJs">
    <script type="text/javascript" src="/js/comments.js"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            const comment_write_id = [[${boardDto.board_writerId}]]
            const session_id = [[${session.id}]]
            const session_nickname = [[${session.nickName}]]
            const modify_board_id = [[${boardDto.board_id}]]

        /*]]>*/
    </script>
</th:block>
</html>