.flex-column {
  flex-direction: column;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding: 0.5rem 1rem;
}

.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.d-inline-block {
  display: inline-block;
}

.align-top {
  vertical-align: top;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
}

button:not(:disabled), [type=button]:not(:disabled) {
  cursor: pointer;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.collapse:not(.show) {
  display: none;
}

.pt-1 {
  padding-top: 0.25rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.pl-2 {
  padding-left: 0.5rem;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.mr-auto {
  margin-right: auto;
}

.dropdown {
  position: relative;
}

.navbar-light .navbar-nav .navbar-link {
  color: rgba(0, 0, 0, 0.55);
}

.navbar-nav .navbar-link {
  padding-right: 0;
  padding-left: 0;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mobile-display-none {
  display: none;
}

svg:not(:root) .svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa .fa-w-16 {
  width: 1em;
}

.fa-2x {
  font-size: 2rem;
}

.svg-inline--fa {
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.dropdown-menu {
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  background-color: transparent;
  border: 0;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mt-lg-5 {
  margin-top: 3rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.mb-5 {
  margin-bottom: 3rem;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

.float-letf {
  float: left;
}

.mr-2 {
  margin-right: 0.5rem;
}

.selected-url {
  border-bottom: 2px solid black;
}

.px-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.link-secondary {
  color: #6c757d;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.gx-5 {
  --bs-gutter-x: 3rem;
}

.row {
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  min-height: 1px;
}

.text-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.rounded-circle {
  border-radius: 50%;
}

.text-break {
  word-wrap: break-word;
  word-break: break-word;
}

.text-secondary {
  color: #6c757d;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.text-decoration-none {
  text-decoration: none;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.ms-3 {
  margin-left: 1rem;
}

.text-dark {
  color: #212529;
}

.fw-bold {
  font-weight: 700;
}

article {
  display: block;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-lg-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-lg-9 {
  flex: 0 0 auto;
  width: 75%;
}

input {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}

.fw-bolder {
  font-weight: bolder;
}

.text-end {
  text-align: right;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.pr-0 {
  padding-right: 0;
}

.bg-primary {
  background-color: #283673;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.col {
  flex: 1 0 0%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.d-inline {
  display: inline;
}

.mr-1 {
  margin-right: 0.25rem;
}

.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}

.btn-primary {
  color: #fff;
  background-color: #283673;
  border-color: #283673;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.badge-info {
  background-color: #17a2b8;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

section {
  display: block;
}

form {
  display: block;
  margin-top: 0em;
}

.bg-light {
  background-color: #f8f9fa;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-title {
  margin-bottom: 0.5rem;
}

.d-none {
  display: none;
}

.input-group {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

.w-100 {
  width: 100%;
}

button-close {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.pull-right {
  float: right;
}

.close {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.pb-3 {
  padding-bottom: 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

.text-muted {
  color: #6c757d;
}

small {
  font-size: 0.875em;
}

/* .card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem -1px);
} */

.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn-secondary {
  color: #fff;
  background-color: #283673;
  border-color: #283673;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feeback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdwon-toggle):not(.dropdown-menu) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.bi-person-badge::before {
  content: "\f4d3";
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-expand-lg .navbar-collapse{
  display: flex;
  flex-basis: auto;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6;
}