@charset "UTF-8";
#header{
  width:100%;
}
.header_login_ID_wrap{
    width:80%;
    margin:20px auto 0 auto;
    display:flex;
    justify-content:space-between;
}
.header_login_ID_span{
    color:#999;
}
.header_login_img{
    width:70px;
    height:70px;
}
.header_login_img img{
    width:70px;
    height:70px;
    border-radius:50%;
}
.header_login_ID{
    width:300px;
    font-size:15px;
    margin-top:15px;
}
.header_login_ID_btn{
    width:auto;
    height:auto;
    padding:10px 30px;
    margin-left:15px;
    background-color:#083670;
    color:#FFF;
    border-radius:20px;
}
.bi-arrow-right{
    margin-top:2px;
}
.header_join{
  text-align:center;
	font-size:80px;
	font-weight:600;
	color:#083670;
	padding:100px 0 50px 0;
}
.main{
  width:100%;
}
.main_join_wrap{
  width:500px;
  height:auto;
  margin:0 auto;
}
.main_join_box1{
    margin-bottom:20px;
}
.main_join_box2{
    margin-bottom:20px;
}
.main_join_input_group{
  display:inline-block;
  width:100%;
  padding:15px 0;
  border:1px solid #777777;
  border-radius: 3px;
  margin-bottom:10px;
}
.main_join_input{
  width:85%;
  padding:5px 10px;
  margin-left:15px;
}
.main_join_input_box3{
    width:65%;
}
#emailChk{
    width:30%;
    margin-left:15px;
    padding:17px 0;
    border-radius: 3px;
    margin-bottom:10px;
    text-align:center;
    cursor:pointer;
    color:#FFFFFF;
    background-color:#083670;
}
#emailChk:hover{
    cursor:pointer;
    background-color:#061451;
    transition:all 0.5s;
}
.main_join_chk{
    display:inline-block;
}
#emailCheck{
    margin-bottom:20px
}
.main_join_email_chk{
    width:65%;
    border:1px solid #777777;
}
.main_join_email_double{
    display:inline-block;
}
.doubleChk{
    width:30%;
    margin-left:15px;
    padding:17px 0;
    border-radius: 3px;
    margin-bottom:10px;
    text-align:center;
    cursor:pointer;
    color:#FFFFFF;
    background-color:#083670;
    transition:all 0.5s;
}
.doubleChk:hover{
    cursor:pointer;
    background-color:#061451;
    transition:all 0.5s;
}
#sm_email{
    padding:20px 20px;
}
.main_join_input_sex_select{
    width:10%;
    text-align:center;
    border:1px solid #777;
    margin-top:5px;
}
.main_join_input_submit{
  padding:20px 15px;
  margin-left:30px;
  cursor:pointer;
  background-color:#AAAAAA;
  border-radius: 10px;
}
.main_join_category{
  letter-spacing: 1px;
  padding-top:20px;
  padding-bottom:20px;
}
.categoryList{
  width:50%;
  height:63px;
  border:1px solid #777777;
  border-radius: 10px;
  margin-bottom:10px;
}
.main_join_BTN{
  width:100%;
  padding:20px 0;
  color:white;
  cursor:pointer;
  border-radius:10px;
  margin-top:50px;
  background-color:#083670;
  transition:all 0.5s;
  margin-bottom:30px;
}
.main_join_BTN:hover{
  cursor:pointer;
  background-color:#061451;
	transition:all 0.5s;
}