* {
   font-family: 'Nanum Gothic', sans-serif !important;
}

.display-flex-row {
   display: flex;
   flex-direction: row;
}

.display-flex-column {
   display: flex;
   flex-direction: column;
}

.no-padding {
   padding: 0px;
}

.no-left-padding {
   padding-left: 0;
}

.line {
   margin-bottom: 15px;
}

.hidden {
   visibility: hidden;
}

.radio-label {
   padding-left: 0;
   font-size: 14px;
   margin-right: 10px;
}

.image-panel img {
   width:100%;
   height:100%;
}

.image-panel {
   width:220px;
   height:220px;
   position: relative;
}

.image-panel span {
   vertical-align: center;
}

.image-panel .remove-video {
   width: 25px;
   height: 25px;
   position: absolute;
   top:0px;
   right: 0px;
   padding: 0px;
}

.image-panel .remove-image {
   width: 30px;
   height: 30px;
   position: absolute;
   top:0px;
   right: 0px;
   padding: 0px;
}

.image-panel .update-image {
   position: absolute;
   width: 30px;
   height: 30px;
   right: 31px;
   top: 0px;
   padding: 0px;
   z-index: 1000;
}

.image-panel .update-image i {
   font-size: 15px;
}

.image-panel .remove-image i {
   font-size: 15px;
}

.font-normal {
   font-weight: normal;
}

.margin-bottom-0 {
   margin-bottom: 0;
}

.margin-right-10 {
   margin-right: 10px;
}

.hidden {
   display: none!important
}

.image-circle {
   border-radius: 70%;
}

.form-group.required label:after {
   content : " *";
   color: red;
}

label.required:after {
   content : " *";
   color: red;
}

.tagify-outside {
   border: 0;
   padding: 0;
   margin: 0;
}

.tagify_input {
   margin: 0 !important;
}

div .needs-disabled {
   pointer-events: none;
   opacity: 0.5;
   background: #CCC;
}

.font-size-16 {
   font-size: 15px !important;
}

.font-bold {
   font-weight: bold;
}

.selected-url {
   border-bottom: 2px solid black;
}

.unselected-url {
   border-bottom: 1px solid #eeeeee;
}

.card {
   border-radius: 1.25rem !important;
}
@media screen and (max-width: 992px) {

.mobile-display-none {
      display: none !important;
}

.mobile-mt-5 {
      margin-top: 48px;
}

.mobile-position-absolute {
      position: absolute;
}

.mobile-position-relative {
      position: relative;
}

.mobile-position-top-5 {
      top: 5px;
}

.mobile-position-top-30 {
      top: 30px;
}
}

@media screen and (min-width: 992px) {

.pc-display-none {
      display: none !important;
}

.pc-mt-5 {
      margin-top: 48px;
}

}

.calender_wrap{
   width:100%;
}

.calender_group{
   display:inline-block;
   width:39%;
}
.calender_font_event{
   width:20%;
   text-align: center;
   margin:0 2px;
}
.calender1{
   width:100%;
}

.calender2{
   width:100%;
}
