<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css}" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../testcss/bootstrap.css">
  <link rel="stylesheet" th:href="@{/css/page_style.css}" href="../testcss/page_style.css">
  <link rel="stylesheet" th:href="@{/css/edit_style.css}" href="./edit_style.css">
</head>
<body>
<nav th:replace="sungjin/fragment/nav :: fragment_nav"></nav>
<!-------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------------->

<!-------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------------->
<main id="main">
  <div class="main_wrap">
    <div class="main_text_wrap">
      <h1 class="main_text">회원 정보 수정</h1>
    </div>
    <div id="main_container">
      <form>
        <ul class="main_form_wrap">
          <li>
            <p class="main_text_group main_form_text">닉네임</p>
            <div class="main_text_group main_input_group main_nickname">
              <input type="text" placeholder="닉네임을 입력해 주세요">
            </div>
          </li>
          <li>
            <p class="main_text_group main_form_text">이메일</p>
            <div class="main_text_group main_input_group main_email">
              <input type="email" placeholder="이메일을 입력해 주세요">
            </div>
          </li>
          <li>
            <p class="main_text_group main_form_text">비밀번호</p>
            <div class="main_text_group main_input_group main_password">
              <input type="password" placeholder="비밀번호를 입력해 주세요">
            </div>
          </li>
          <li>
            <p class="main_text_group main_form_text">비밀번호 확인</p>
            <div class="main_text_group main_input_group main_password_2">
              <input type="password" placeholder="비밀번호를 한번 더 입력해 주세요">
            </div>
          </li>
          <li>
            <p class="main_text_group main_form_text">관심사</p>
            <span class="main_select_wrap1">
              <select id="firstCategory" name="firstCategory" class="form-contro main_form_select" onchange="category_change(this.value, secondCategory)">
                <option>선택하세요.</option>
                <option value="1">개발</option>
                <option value="2">언어</option>
                <option value="3">자격증</option>
              </select>
            </span>
            <span class="main_select_wrap2">
              <select id="secondCategory" name="secondCategory" class="main_form_select main_form_select2 form-control">
                <option>선택하세요.</option>
              </select>
            </span>
            <span class=" main_select_wrap3">
              <select id="thirdCategory" name="thirdCategory" class="main_form_select main_form_select3 form-control">
                <option>선택하세요.</option>
              </select>
            </sp>
          </li>
        </ul>
        <ul class="main_btn_wrap">
          <li><button class="main_btn">변경 완료</button></li>
          <li><button class="main_btn">계정 탈퇴</button></li>
        </ul>
      </form>
    </div>
  </div>
</main>
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.3.1.js}" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}" src="../js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" th:src="@{/js/category.js}" src="category.js"></script>
<script type="text/javascript" th:src="@{/js/page_style.js}" src="./page_style.js"></script>
</body>
</html>