<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>title</title>

  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.cs}" href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css">
  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css}" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" th:href="@{/testcss/bootstrap.css}" href="../../bootstrap-5.1.3-dist/css/bootstrap.css">
  <link rel="stylesheet" th:href="@{/testcss/page_style.css}" href="../page_style.css">
  <!--달력용-->
  <link rel="stylesheet" th:href="@{code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css}" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

  <script>
    $( function() {
      $( "#datepicker_to" ).datepicker();
      $( "#datepicker_from" ).datepicker();
    } );
  </script>
</head>
<nav th:replace="/fragment/nav :: fragment_nav"></nav>
<!-------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------------->
<div id="dropdown_menu_wrap" class="dropdown_menu_wrap">
  <dl class="dropdown_menu1">
    <!-- <dt class="dropdown_menu1_title">로그인</dt> -->
    <dd class="nav_list_dd_border nav_list_dd_border_bottom"><a class="dropdown-item" tabindex="-1" href="login.html">로그인</a></dd>
    <dd class="nav_list_dd_border"><a class="dropdown-item" tabindex="-1" href="join.html">회원가입</a></dd>
  </dl>
  <dl id="dropdown_menu2" class="dropdown_menu2">
    <!-- <dt class="dropdown_menu2_title">마이페이지</dt> -->
    <dd class="nav_list_dd_border"><a id="dropdown_menu2_mypage" class="test dropdown-item dropdown-toggle"tabindex="-1" href="javascript:">마이페이지</a>
      <ul class="dropdown_menu2_menu">
        <li class="nav_list_li_border"><a class="dropdown-item" tabindex="-1" href="edit.html">회원 수정</a></li>
        <li class="nav_list_li_border"><a class="dropdown-item" tabindex="-1" href="mywrite.html">내가 쓴 글 보기</a></li>
        <li class="nav_list_li_border"><a class="dropdown-item" tabindex="-1" href="poem.html">쪽지</a></li>
      </ul>
    </dd>
  </dl>
  <dl id="dropdown_menu3" class="dropdown_menu3">
    <!-- <dt class="dropdown_menu3_title">스터디</dt> -->
    <dd class="nav_list_dd_border"><a id="dropdown_menu3_study" class="test dropdown-item dropdown-toggle"tabindex="-1" href="javascript:">스터디</a>
      <ul class="dropdown_menu3_menu">
        <li class="nav_list_li_border"><a class="dropdown-item" tabindex="-1" href="wishlist.html">찜 목록</a></li>
        <li class="nav_list_li_border"><a class="dropdown-item" tabindex="-1" href="joinstudy.html">참여한 그룹 보기</a></li>
      </ul>
    </dd>
  </dl>
</div>
<!-------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------------->

<!-- <p>Date: <input type="text" id="datepicker_to"></p>
<p>Date: <input type="text" id="datepicker_from"></p> -->

<script>
  $(document).ready(function() {
    $('#summernote').summernote({                                     
      height : 300,
      minHeight : null,
      maxHeight : null,
      focus : true,
      callbacks : {                                                    
        onImageUpload : function(files, editor, welEditable) {
          for (var i = 0; i < files.length; i++) {
            sendFile(files[i], this);
          }
        }
      }
    });
  });

  function sendFile(file, el) {
    var form_data = new FormData();
    form_data.append('file', file);
    $.ajax({                                                           
      data : form_data,
      type : "POST",
      url : '/attachedFile',
      cache : false,
      contentType : false,
      enctype : 'multipart/form-data',                                  
      processData : false,
      success : function(url) {                                      
        $(el).summernote('insertImage', url, function($image) {
          $image.css('width', "25%");
        });
      }
    });
  }
</script>

<script>
$(document).ready(function() {
  $('#summernote').summernote({
    placeholder: 'content',
    minHeight: 370,
    maxHeight: null,
    focus: true,
    lang : 'ko-KR'
  });
});
</script>
</head>
<body>

<div style="width: 60%; margin: auto;">
  <form method="post" action="/write">
    <br>
    <input type="text" name="title" style="width: 40%;" placeholder="제목"/><br>
    <input type="file" name="attachFile" style="width: 40%;" placeholder="첨부파일"/>
    <br><br>
    <textarea id="summernote" name="content"></textarea>
    <input id="subBtn" type="submit" value="수정하기" style="float: right;" onclick="goWrite(this.form)"/>
  </form>
</div>
<!-- include libraries(jQuery, bootstrap) -->
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.4.1.slim.min.js}" src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js}"  src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<!-- include summernote-ko-KR -->
<script type="text/javascript" th:src="@{summernote/lang/summernote-ko-KR.js}"  src="../../summernote-0.8.18-dist/lang/summernote-ko-KR.js"></script>
<script type="text/javascript" th:src="@{/testjs/bootstrap.bundle.min.js}" src="../js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" th:src="@{/testjs/page_style.js}" src="./page_style.js"></script>
<script type="text/javascript" th:src="@{https://code.jquery.com/ui/1.13.1/jquery-ui.js}" src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
</body>
</html>