<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" class="fontawesome-i2svg-active fontawesome-i2svg-complete">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="one.css">
</head>
<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #283673 !important;">
    <div class="container">
      <a class="navbar-brand" href="/src/Page.html">
        <img src="../image/come.png" width="100" height="100" class="d-inline-block align-top" alt>
      </a>
      <button class="navbar-toggler togglerNoBorder" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse pl-2 pt-1 collapse show" id="navbarNavDropdown" style>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown navDropdown">
            <a class="nav-link" href="notice.html" id="navbarDropdown" style="font-weight: bold;">공지 게시판</a>
          </li>
        </ul>
        <div class="my-2 my-lg-0 mobile-display-none">
          <ul class="navbar-nav float-right">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="loginDrop" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                <svg class="svg-inline--fa fa-user-circle fa-w-16 fa-2x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-circle" role="img" xmlns="http:www.w3.org/2000/svg"
                viewBox="0 0 496 512" data-fa-i2svg>
                <path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 
                39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7
                24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"></path>
                </svg>
              </a>
              <div class="dropdown-menu" aria-labelledby="loginDrop">
                <a class="dropdown-item" href="login.html">로그인</a>
                <a class="dropdown-item" href="join.html">회원가입</a>
                <a class="dropdown-item" href="mypage.html">마이페이지</a>
                <a class="dropdown-item" href="poem.html">쪽지확인</a>
                <a class="dropdown-item" href="joinstudy.html">참여중인 스터디</a>
                <a class="dropdown-item" href="logout.html">로그아웃</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
<main class="flex-shrink-0">
  <div class="pc-display-none container col-lg-10 mt-2 mb-3">
    <div class="col-lg-3">
    </div>
    <ul class="nav col-lg-9 mb-5 float-left">
      <li class="mr-2 selected-url" style="z-index: 900;">
        <a href="one.html" class="nav-link px-2 link-secondary">소개</a>
      </li>
    </ul>
  </div>
  <section class="py-3">
    <div class="container col-lg-10 mt-3">
      <div class="row gx-5">
        <div class="col-lg-3">
          <div class="mobile-display-none">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="image/파밀리아 성당.jpg" alt="성당" class="rounded-circle" width="120" height="120">
                  <div class="mt-3">
                    <h4 class="text-break">언어</h4>
                    <p class="text-secondary mb-1"></p>
                    <a class="btn btn-primary" type="button" href="profile.html">프로필 보기</a>
                  </div>
                </div>
              </div>
            </div>
            <a href="one.html" class="text-decoration-none">
              <div class="d-flex align-items-center mt-lg-5 mb-4">
                <div class="ms-3">
                  <h5 class="fw-bold text-dark">소개</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-9 content-area">
          <article>
            <div class="row mb-4">
              <div class="row">
                <div  class="col-9" style="word-break: break-word;">
                  <h1 class="fw-bolder mb-1">코딩</h1>
                </div>
                <div class="col-3 text-end pr-0">
                  <h4>
                    <span class="badge bg-primary">모집 중</span>
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="mb-2">스터디입니다.</div>
                </div>
              </div>
              <div class="row">
                <div class="col-7">
                  <div class="mb-2">모집기간 : 2022-04-01 ~ 2022-05-01</div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-6">
                  <h5 class="d-inline">
                    <span class="badge badge-light text-dark mr-1">#C++</span>
                  </h5>
                  <h5 class="d-inline">
                    <span class="badge badge-light text-dark mr-1">#javascript</span>
                  </h5>
                  <h5 class="d-inline">
                    <span class="badge badge-light text-dark mr-1">#파이썬</span>
                  </h5>
                  <h5 class="d-inline">
                    <span class="badge badge-light text-dark mr-1">#assembly</span>
                  </h5>
                  <h5 class="d-inline">
                    <span class="badge badge-light text-dark mr-1">#OpenGL</span>
                  </h5>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h5 class="d-inline">
                    <span class="badge badge-info mr-1">
                      <i class="bi bi-geo-alt">
                      </i>
                      서울특별시
                    </span>
                  </h5>
                </div>
              </div>
            </div>
            <div class="card mb-4" style="min-height: 300px;">
              <div class="card-body">
                <p>안녕하세요 !</p>
                <p>&nbsp;</p>
                <p>이 스터디는 개발 언어에 대해 공부합니다.</p>
                <p>&nbsp;</p>
                <p>많은 관심 바랍니다. 감사합니다.</p>
              </div>
            </div>
          </article>
          <section>
            <form name="commentFrm" id="commentFrm">
              <input type="hidden" name="totalPage" value>
              <input type="hidden" name="page" value="0">
            </form>
            <div class="card bg-light">
              <div class="card-header">
                <h4 class="card-title">댓글</h4>
                <input type="hidden" name="page" value="0">
                <form name="frmComment">
                  <div class="input-group">
                    <input type="hidden" name="parentId" value>
                    <textarea class="form-control custom-control" id="comment" name="comment" rows="3" style="resize:none">
                    </textarea>
                    <button type="button" class="input-group-addon btn btn-primary" id="add-comment-btn">작성</button>
                  </div>
                </form>
              </div>
              <div class="card-body comment-section">
                <div class="d-flex mb-3 parent-comment boarder-bottom mb-2 pb-3">
                  <input type="hidden" value="15" name="commentId" class="comment-id">
                  <div class="flex-shrink-0">
                    <img class="rounded-circle" src="" alt="...">
                  </div>
                  <div class="ms-3 w-100">
                    <div class="fw-bold commenter-name">성당</div>
                    <small class="text-muted text-sm date-panel">2022-04-19 15:32:22</small>
                    <div class="pull-right reply-panel mr-2">
                      <a href="#" class="reply-btn text-decoration-none">답글</a>
                    </div>
                    <div class="comment-body">우리 스터디는 클라스가 다름.</div>
                  </div>
                </div>
                <div class="d-flex mb-3 parent-comment border-bottom mb-2 pb-3">
                  <input type="hidden" value="15" name="commentId" class="comment-id">
                  <div class="flex-shrink-0">
                    <img class="rounded-circle" src="image/파밀리아 성당.jpg" alt="...">
                  </div>
                  <div class="ms-3 w-100">
                    <div class="fw-bold commenter-name">성당</div>
                    <small class="text-muted text-sm date-panel">2022-04-19 02:14:34</small>
                    <div class="pull-right reply-panel mr-2">
                      <a href="#" class="reply-btn text-decoration-none">답글</a>
                    </div>
                    <div class="comment-body">같이 열심히 해봐요.</div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-secondary btn-lg btn-block" type="button" id="more-comments">더보기</button>
              </div>
            </div>
            <div class="edit">
              <button class="btn btn-secondary btn-lg btn-block" type="button" id="edit">글 수정하기</button>
            </div>
            <div class="delete">
              <button class="btn btn-secondary btn-lg btn-block" type="button" id="delete">글 삭제하기</button>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</main>
</body>
</html>