<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" class="fontawesome-i2svg-active fontawesome-i2svg-complete">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="profile.css">
</head>
<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #283673 !important;">
    <div class="container">
      <a class="navbar-brand" href="/src/Page.html">
        <img src="../image/come.png" width="100" height="100" class="d-inline-block align-top" alt>
      </a>
      <button class="navbar-toggler togglerNoBorder" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse pl-2 pt-1 collapse show" id="navbarNavDropdown" style>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown navDropdown">
            <a class="nav-link" href="notice.html" id="navbarDropdown" style="font-weight: bold;">공지 게시판</a>
          </li>
        </ul>
        <div class="my-2 my-lg-0 mobile-display-none">
          <ul class="navbar-nav float-right">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="loginDrop" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                <svg class="svg-inline--fa fa-user-circle fa-w-16 fa-2x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-circle" role="img" xmlns="http:www.w3.org/2000/svg"
                viewBox="0 0 496 512" data-fa-i2svg>
                <path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 
                39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7
                24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"></path>
                </svg>
              </a>
              <div class="dropdown-menu" aria-labelledby="loginDrop">
                <a class="dropdown-item" href="login.html">로그인</a>
                <a class="dropdown-item" href="join.html">회원가입</a>
                <a class="dropdown-item" href="mypage.html">마이페이지</a>
                <a class="dropdown-item" href="poem.html">쪽지확인</a>
                <a class="dropdown-item" href="joinstudy.html">참여중인 스터디</a>
                <a class="dropdown-item" href="logout.html">로그아웃</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <main class="flex-shrink-0">
    <section class="py-5">
      <div class="container col-lg-10">
        <div class="row gx-5">
          <div class="col-lg-3">
            <div class="mobile-display-none">
              <a href="./profileone.html" class="text-decoration-none">
                <div class="d-flex align-items-center mt-lg-5 mb-4">
                  <div class="ms-3">
                    <h5 class="fw-bold text-dark">스터디 홈</h5>
                  </div>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="./join/propfileone" class="text-decoration-none">
                <div class="d-flex-align-items-center mt-lg-5 mb-4">
                  <div class="ms-3">
                    <h5 class="fw-bold text-dark">참여한 스터디</h5>
                  </div>
                </div>
              </a>
              <a href="profile/open/propfileone" class="text-decoration-none">
                <div class="d-flex-align-items-center mt-lg-5 mb-4">
                  <div class="ms-3">
                    <h5 class="fw-bold text-dark">개설한 스터디</h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-9">
            <article>
              <header class="mb-4">
                <h1 class="fw-bolder mb-1"></h1>
                <div class="text-muted fst-italic mb-2">2022.02.02</div>
              </header>
              <div class="card card-primary card-outline">
                <div class="card-body box-profile row">
                  <div class="col-md-6 row">
                    <div class="col-md-12">
                      <div class="text-center">
                        <img class="profile-user-img img-fluid image-circle" src="../image/파밀리아 성당.jpg" alt="User profile picture"
                        style="width: 120px; height: 120px;">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <h3 class="profile-username text-center pt-3">책</h3>
                    </div>
                  </div>
                  <div class="row col-md-6 pl-5">
                    <div class="col-6 mt-5">
                      <div class="text-center">
                        <strong>참여횟수</strong>
                      </div>
                      <p class="text-center">
                        <span class="badge badge-primary font-size-16 mt-2">0</span>
                      </p>
                    </div>
                    <div class="col-6 mt-5">
                      <div class="text-center">
                        <strong>개설횟수</strong>
                      </div>
                      <p class="text-center">
                        <span class="badge badge-info font-size-16 mt-2">0</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card-primary mt-lg-5 mobile-mt-5">
                <div class="card-header">
                  <h3 class="card-title">About Me</h3>
                </div>
                <div class="card-body">
                  <strong>
                    <svg class="svg-inline--fa fa-pencil-alt fa-w-16 mr-1" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="pencil-alt" role="1mg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg>
                      <path fill="currentColor" d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"></path>
                    </svg>
                    역량
                  </strong>
                  <p class="text-muted pt-2"> </p>
                  <hr>
                  <strong>
                    <svg class="svg-inline--fa fa-map-marker-alt fa-w-12 mr-1" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg>
                      <path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"></path>
                    </svg>
                    활동지역
                  </strong>
                  <p class="text-muted pt-2"> </p>
                  <hr>
                  <strong>
                    <svg class="svg-inline--fa fa-book fa-w-14 mr-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="book"
                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg>
                      <path fill="currentColor" d="M448 360V24c0-13.3-10.7-24-24-24H96C43 0 0 43 0 96v320c0 53 43 96 96 96h328c13.3 0 24-10.7 24-24v-16c0-7.5-3.5-14.3-8.9-18.7-4.2-15.4-4.2-59.3 0-74.7 5.4-4.3 8.9-11.1 8.9-18.6zM128 134c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm0 64c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm253.4 250H96c-17.7 0-32-14.3-32-32 0-17.6 14.4-32 32-32h285.4c-1.9 17.1-1.9 46.9 0 64z"></path>
                    </svg>
                    직업 및 경력
                  </strong>
                  <p class="text-muted pt-2"> </p>
                  <hr>
                  <strong>
                    <svg class="svg-inline--fa fa-file-alt fa-w-12 mr-1" aria-hidden="true" focusable="false" data-prefix="far"
                    data-icon="file-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg>
                      <path fill="currentColor" d="M288 248v28c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-28c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12zm-12 72H108c-6.6 0-12 5.4-12 12v28c0 6.6 5.4 12 12 12h168c6.6 0 12-5.4 12-12v-28c0-6.6-5.4-12-12-12zm108-188.1V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V48C0 21.5 21.5 0 48 0h204.1C264.8 0 277 5.1 286 14.1L369.9 98c9 8.9 14.1 21.2 14.1 33.9zm-128-80V128h76.1L256 51.9zM336 464V176H232c-13.3 0-24-10.7-24-24V48H48v416h288z"></path>
                    </svg>
                    포트폴리오
                  </strong>
                  <p class="text-muted pt-2">
                    <a href class="text-decoration-none" target="_blank"></a>
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>