<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css}" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" th:href="@{/testcss/bootstrap.css}" href="../css/bootstrap.css">
  <link rel="stylesheet" th:href="@{/css/default.css}" href="../css/default.css">
  <link rel="stylesheet" th:href="@{/css/study-style.css}" href="../css/study-style.css">
  <title>스터디 게시판</title>
</head>
<body>
  <nav th:replace="/fragment/nav :: fragment_nav"></nav>
  <main id="main">
    <section id="study_main_section1">
      <button class="study_main_studyAdd">
        <p class="study_main_add_icon"></p>
        <p class="study_main_add_text">스터디 개설하기</p>
      </button>
    </section>
    <section id="stydy_main_section2">
      <ul class="main_study_card_wrap">
        <li class="main_study_card">
          <ul class="main_study_card_content_wrap">
            <li class="main_study_lang_group">
              <p class="main_study_lang">언어</p>
              <p class="main_study_recruitment">모집중</p>
            </li>
            <li class="main_study_program"><p>JAVA 기초</p></li>
            <li class="main_study_text"><p>기초부터 배우는 자바 프로그래밍</p></li>
            <li class="main_study_hash">
              <a href="#">#JAVA</a>
              <a href="#">#프로그래밍</a>
            </li>
            <li class="main_study_location">
              <p class="main_study_location_image"></p>
              <p>서울특별시</p>
            </li>
            <li class="main_study_box_wrap">
              <ul class="main_study_box">
                <li class="main_study_box_image"><p></p></li>
                <li>
                  <div>
                    <p class="main_study_box_name">고슬링</p>
                    <p class="main_study_box_date">2022-02-22~2022-02-28</p>
                  </div>
                </li>
                <li class="main_study_box_wish">
                  <i class="bi-heart main_heart_btn" style="font-size: 1rem; color: red; cursor: pointer; float: right;"></i>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="main_study_card">
          <ul class="main_study_card_content_wrap">
            <li class="main_study_lang_group">
              <p class="main_study_lang">언어</p>
              <p class="main_study_recruitment">모집중</p>
            </li>
            <li class="main_study_program"><p>포토샵 장인 되기</p></li>
            <li class="main_study_text"><p>우리모두 셀기꾼이 될 수 있어요!</p></li>
            <li class="main_study_hash">
              <a href="#">#인물중심</a>
            </li>
            <li class="main_study_location">
              <p class="main_study_location_image"></p>
              <p>서울특별시 강남구</p>
            </li>
            <li class="main_study_box_wrap">
              <ul class="main_study_box">
                <li class="main_study_box_image"><p></p></li>
                <li>
                  <div>
                    <p class="main_study_box_name">빅픽쳐</p>
                    <p class="main_study_box_date">2022-02-21~2022-02-23</p>
                  </div>
                </li>
                <li class="main_study_box_wish">
                  <i class="bi-heart main_heart_btn" style="font-size: 1rem; color: red; cursor: pointer; float: right;"></i>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="main_study_card">
          <ul class="main_study_card_content_wrap">
            <li class="main_study_lang_group">
              <p class="main_study_lang">언어</p>
              <p class="main_study_recruitment">모집중</p>
            </li>
            <li class="main_study_program"><p>C언어</p></li>
            <li class="main_study_text"><p>비전공자도 쉽게 배우는 코딩</p></li>
            <li class="main_study_hash">
              <a href="#">#직장인</a>
              <a href="#">#코딩</a>
              <a href="#">#c언어</a>
            </li>
            <li class="main_study_location">
              <p class="main_study_location_image"></p>
              <p>부산광역시</p>
            </li>
            <li class="main_study_box_wrap">
              <ul class="main_study_box">
                <li class="main_study_box_image"><p></p></li>
                <li>
                  <div>
                    <p class="main_study_box_name">데니스 리치</p>
                    <p class="main_study_box_date">2022-03-24~2022-03-30</p>
                  </div>
                </li>
                <li class="main_study_box_wish">
                  <i class="bi-heart main_heart_btn" style="font-size: 1rem; color: red; cursor: pointer; float: right;"></i>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </main>
</body>
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.3.1.js}"></script>
<script type="text/javascript" th:src="@{/testjs/bootstrap.bundle.min.js}" src="../js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" th:src="@{/testjs/page_style.js}" src="./page_style.js"></script>
<script type="text/javascript" th:src="@{/js/heart.js}"></script>
</html>