<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>title</title>
</head>

<body>
    <form th:action="@{http://localhost:8080/board/write}" method="post">
        <p><input type="text" name="board_Writer"  placeholder="작성자를 입력해주세요"></p>
        <p><input type="text" name="board_Title"   placeholder="제목을 입력해주세요"></p>
        <p><input type="text" name="board_Content" placeholder="내용을 입력해주세요"></p>
        <p><button type="submit">글작성</button></p>
    </form>
</body>
</html>