<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DoIT</title>
  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css}" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" th:href="@{/testcss/bootstrap.css}" href="../css/bootstrap.css">
  <link rel="stylesheet" th:href="@{/css/notice.css}" href="notice.css">
</head>

<body class="d-flex flex-column h-100">
<nav th:replace="/fragment/nav :: fragment_nav"></nav>
  <!-------------------------------------------------------------------------------------------------------->
  <!-------------------------------------------------------------------------------------------------------->
  <!-------------------------------------------------------------------------------------------------------->
  <div id="dropdown_menu_wrap" class="dropdown_menu_wrap">
    <dl class="dropdown_menu1">
      <!-- <dt class="dropdown_menu1_title">로그인</dt> -->
      <dd class="nav_list_dd_border"><a class="dropdown-item" tabindex="-1" href="studymanage_admin.html">스터디 관리</a></dd>
      <dd class="nav_list_dd_border"><a class="dropdown-item" tabindex="-1" href="siren.html">신고 받은 글</a></dd>
    </dl>
  </div>
  <!-------------------------------------------------------------------------------------------------------->
  <!-------------------------------------------------------------------------------------------------------->
  <!-------------------------------------------------------------------------------------------------------->
  <div id="wrap" class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="font-weight: bold;">No.</th>
          <th style="font-weight: bold;">스터디 이름</th>
          <th style="font-weight: bold;">스터디 조장</th>
          <th style="font-weight: bold;">스터디 생성일자</th>
          <th style="font-weight: bold;">스터디 종료일자</th>
          <th style="font-weight: bold;">삭제 여부</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <th><a href="#">언어 연구회</a></th>
          <th>성당</th>
          <th>2022. 04. 01</th>
          <th>2022. 05. 01</th>
          <th>
            <input type="checkbox" name="draft" id="draft" class="form-check-inline mr-1" value="Y">
            <input type="hidden" name="draft" class="form check-inline mr-1" value="N">
          </th>
        </tr>
        <tr>
          <th>2</th>
          <th><a href="#">언어왕</a></th>
          <th>코딩왕</th>
          <th>2022. 04. 01</th>
          <th>2022. 05. 01</th>
          <th>
            <input type="checkbox" name="draft" id="draft" class="form-check-inline mr-1" value="Y">
            <input type="hidden" name="draft" class="form check-inline mr-1" value="N">
          </th>
        </tr>
        <tr>
          <th>3</th>
          <th><a href="#">자격증 하나 얻자</a></th>
          <th>셀카</th>
          <th>2022. 04. 01</th>
          <th>2022. 05. 01</th>
          <th>
            <input type="checkbox" name="draft" id="draft" class="form-check-inline mr-1" value="Y">
            <input type="hidden" name="draft" class="form check-inline mr-1" value="N">
          </th>
        </tr>
      </tbody>
    </table>
    <hr />
    <div class="board_btn_wrap">
      <button type="button" class="btn text-white board-btn">삭제하기</button>
    </div>
    <!-------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------->
    <div class="display-flex-row mt-3">
      <div class="m-auto">
        <div class="dataTables_paginate paging_simple_numbers">
          <ul class="pagination">
            <li class="paginate_button page-item disabled">
              <a class="page-link" href="#none" aria-label="Previous">
                <span aria-hidden="true"><</span>
              </a>
            </li>
            <li class="paginate_button page-item active">
              <a class="page-link" href="javascript:pagination(0)"> 1 </a>
            </li>
            <li class="paginate_button page-item disabled">
              <a class="page-link" href="#none" aria-label="Next">
                <span aria-hidden="true">></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.3.1.js}" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" th:src="@{/testjs/bootstrap.bundle.min.js}" src="../js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" th:src="@{/testjs/page_style.js}" src="./page_style.js"></script>
</html>