@charset "UTF-8";
#header{
  width:100%;
}
.header_join{
  text-align:center;
	font-size:80px;
	font-weight:600;
	color:#083670;
	padding:100px 0 50px 0;
}
.main{
  width:100%;
}
.main_join_wrap{
  width:500px;
  height:auto;
  margin:0 auto;
}
.main_join_input_group{
  display:inline-block;
}
<<<<<<< HEAD
.main_join_input_box{
  width:70%;
  padding:19px 0;
  border:1px solid #777777;
  border-radius: 10px;
  margin-bottom:10px;
}
.main_join_input{
  width:85%;
=======
.main_join_box1 p{
  margin-bottom:10px;
  font-weight: 900;
}
.main_join_box2 p{
  margin-bottom:10px;
  font-weight: 900;
}
.main_join_box3 p{
  margin-bottom:10px;
  font-weight: 900;
}
.main_join_box4 p{
  margin-bottom:10px;
  font-weight: 900;
}
.main_join_box5 p{
  margin-bottom:10px;
  font-weight: 900;
}
.main_join_box6 p{
  margin-bottom:10px;
  font-weight: 900;
}
#main_join_input_sex_select{
  padding:5px 10px;
  margin-left:15px;
}
.main_join_box5{
  width:70%;
}
.main_join_input_box5{
  width:100%;
  padding:10px 0;
  border:1px solid #777777;
  border-radius: 10px;
  margin:0 0 20px 0;
}
.main_join_input5_year{
  font-size:20px;
  font-weight:900;
}
.main_join_box6{
  width:20%;
  margin-left:44px;
}
.main_join_input_box6{
  width:100%;
  padding:15px 0;
  border:1px solid #777777;
  border-radius: 10px;
  margin-bottom:20px;
}
.main_join_box_group{
  display:inline-block;
}
.main_join_input_box{
  width:100%;
  padding:15px 0;
  border:1px solid #777777;
  border-radius: 10px;
  margin-bottom:20px;
}

.main_join_input{
  width:90%;
>>>>>>> origin/jeongyong
  padding:5px 10px;
  margin-left:15px;
}
.main_join_input_submit{
  padding:20px 15px;
  margin-left:30px;
  cursor:pointer;
  background-color:#AAAAAA;
  border-radius: 10px;
}
.main_join_category{
  letter-spacing: 1px;
  padding-top:20px;
  padding-bottom:20px;
}
.categoryList{
  width:50%;
  height:63px;
  border:1px solid #777777;
  border-radius: 10px;
  margin-bottom:10px;
}
<<<<<<< HEAD
=======
.main_join_last{
  width:100%;
  height:300px;
}
>>>>>>> origin/jeongyong
.main_join_BTN{
  width:100%;
  padding:20px 0;
  color:white;
  cursor:pointer;
  border-radius:10px;
  margin-top:50px;
  background-color:#083670;
  transition:all 0.5s;
}
.main_join_BTN:hover{
  cursor:pointer;
  background-color:#061451;
	transition:all 0.5s;
}