<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fragment_nav">
<!-- 네비게이션 바-->
<nav class="navbar">

  <div class="max-width">
    <div class="logo">
      <a class="navbar-brand" th:href="@{/}">
        <img src="/img/come.png" class="logo-image" alt>
      </a>
    </div>

    <ul class="menubar">
      <li class="menu-btn-single"><i class="bi bi-chat-square-dots"><a></a></i></li>
      <th:block th:if="${session.nickName != null}">
        <li class="menu-btn">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Study
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" th:href="@{/board/studyList/{id}(id = ${session.id})}">내가 쓴 글 보기</a></li>
              <li><a class="dropdown-item" th:href="@{/like/{id}(id = ${session.id})}">위시리스트</a></li>
            </ul>
          </div>
        </li>
      </th:block>
      <li class="menu-btn">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Mypage
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <th:block th:if="${session.nickName == null}">
              <li><a class="dropdown-item" th:href="@{/login}">로그인</a></li>
              <li><a class="dropdown-item" th:href="@{/join}">회원가입</a></li>
            </th:block>
            <th:block th:if="${session.nickName != null}">
              <li><a class="dropdown-item" th:href="@{/logout}">로그아웃</a></li>
              <li><a class="dropdown-item" th:href="@{/profile/{id}(id = ${session.id})}">내 정보보기</a></li>
              <li><a class="dropdown-item" th:href="@{/note/{id}(id = ${session.id})}">쪽지함</a></li>
            </th:block>
          </ul>
        </div>
      </li>
    </ul>

    <div class="hidden-menu-btn">
      <i class="bi bi-list"></i>
    </div>

    <input hidden id="sessionId" th:value="${session.id}"></input>
  </div>

</nav>
</div>
</body>
</html>