<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="js/vendor/modernizr-3.8.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="http://java.sun.com/jsp/jstl/core"></script>
    <script src="http://java.sun.com/jsp/jstl/functions"></script>
    <script>window.jQuery || document.write('<script src="@{/js/vendor/jquery-3.4.1.min.js}"><\/script>')</script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body class="d-flex flex-column h-100">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #283673 !important;">
    <div class="container">
        <a class="navbar-brand" href="/#">
            <img src="../img/logocopy.png" width="100" height="100" class="d-inline-block align-top" alt>
        </a>
        <button class="navbar-toggler togglerNoBorder" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pl-2 pt-1" id="navbarNavDropdown">
        </div>
    </div>
</nav>
    <div class="container">
        <div>
            <p id="board_Id">글번호 : [[${board.board_Id}]]</p>
        </div>
        <p id="board_SubTitle">한줄소개 : [[${board.board_SubTitle}]]</p>
        <p id="board_Title">글제목 : [[${board.board_Title}]]</p>
        <p>글내용 :
        <div id="board_Content">
        <textarea readonly="readonly" class="form-control"
                  th:text="${board.board_Content}"></textarea></p>
        </div>
        <p>조회수 : [[${board.board_Count}]]</p>
    </div>
    <div style="flex-direction: row-reverse">
        <button id="deleteBtn" class="btn btn-danger btn-sm float-right">글 삭제</button>
        <button id="updateBtn" class="btn btn-info btn-sm float-right">글 수정</button>
    </div>
    <form id="form" th:action="@{/}" method="post"></form>

<div class="card mb-2 mt-5">
    <div class="card-header bg-light">
        <i class="fa fa-comment fa"></i> 댓글
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                <button type="button" class="btn btn-dark mt-3">등록</button>
            </li>
        </ul>
    </div>
</div>
<br/>
<div class="card">
    <div class="card-header">댓글</div>
    <ul id="reply--box" class="list-group">
        <li id="reply--1" class="list-group-item d-flex justify-content-between">
            <div>댓글 내용입니다.!</div>
            <div class="d-flex">
                <div class="text-monospace">작성자: ssarlength &nbsp;</div>
                <button class="badge btn-warning">수정</button><span> | </span>
                <button class="badge btn-danger">삭제</button>
            </div>
        </li>
    </ul>
</div>


<script th:inline="javascript">
    $(document).on("ready", function (e) {
        var form= $("#form");
        var board_Id= [[${board.board_Id}]];
        var board_Title = [[${board.board_Title}]];
        $(document).on('click', '#deleteBtn', function (e){
          $('#form').attr("action", "remove");
          form.append("<input type='hidden' name='board_Id' value="+board_Id+">");
          form.append("<input type='hidden' name='_method' value='post'>");
          form.submit();
        })
        $(document).on('click','#updateBtn', function (e) {
            var str="<input class='form-control' width='250'" +
                "value='"+board_Title+"' id='updateBoard_Title'>";
            $("#board_Title").html(str);
                // str="<textarea class='form-control'" +
                // "value='"+board_Content+"' id='updateBoard_Content'></textarea>";
            var str2="<textarea  class='form-control' th:text='${board.board_Content}'></textarea>";
            $("#board_Content").html(str2);
            $("#updateBtn").attr("id", "updateConfirmBtn");
        })

        $(document).on('click','#updateConfirmBtn', function (e){
            $('#form').attr("action", "modify");
            var updateBoard_Title= $('#updateBoard_Title').val();
            var updateBoard_Content= $('#updateBoard_Content').val();
            form.append("<input type='hidden' name='board_Id' value='"+board_Id+"'>");
            form.append("<input type='hidden' name='_method' value='post'>");
            form.append("<input type='hidden' name='board_Title' value='"+updateBoard_Title+"'>");
            form.append("<input type='hidden' name='board_Content' value='"+updateBoard_Content+"'>");
            form.submit();
        })
    })
</script>
</body>
</html>