<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--달력용-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        $.datepicker.setDefaults({
          dateFormat: 'yy-mm-dd',
          prevText: '이전 달',
          nextText: '다음 달',
          monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
          monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
          dayNames: ['일', '월', '화', '수', '목', '금', '토'],
          dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
          dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
          showMonthAfterYear: true,
          yearSuffix: '년'
        });
        $( function() {
          $( "#datepicker_to" ).datepicker();
          $( "#datepicker_from" ).datepicker();
        } );
    </script>
</head>
<body>
<div style="width: 60%; margin: auto;">
    <form action="/board/write" th:action th:object="${firstStudyDto}" method="post">
        <input hidden type="text" name="writer" th:field="*{writerId}"/><br>
        <input hidden type="text" name="nickname" th:field="*{nickName}"/><br>
        <input type="text" name="category1" style="width: 40%;" placeholder="카테고리" th:field="*{interest1}"/><br>
        <input type="text" name="category2" style="width: 40%;" placeholder="카테고리" th:field="*{interest2}"/><br>
        <input type="text" name="category3" style="width: 40%;" placeholder="카테고리" th:field="*{interest3}"/><br>
        <input type="text" name="location" style="width: 40%;" placeholder="지역" th:field="*{location}"/><br>
        <input type="text" name="subtitle" style="width: 40%;" placeholder="스터디 한 줄 소개" th:field="*{subTitle}"/><br>
        <input type="text" name="on_offline" style="width: 40%;" placeholder="온라인 오프라인" th:field="*{endDate}"/><br>
        <p>Date: <input type="text" id="datepicker_to" th:field="*{startDate}"></p>
        <p>Date: <input type="text" id="datepicker_from" th:field="*{endDate}"></p>
        <input id="subBtn" type="submit" value="다음으로" style="float: right;" onclick="goWrite(this.form)"/>
    </form>
</div>
</body>
</html>