<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<th:block layout:fragment="library">

  <link rel="stylesheet" href="/css/new.css">


  <!--달력용-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
  </style>

  <script>
      $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        showMonthAfterYear: true,
        yearSuffix: '년'
      });
      $( function() {
        $( "#datepicker_to" ).datepicker();
        $( "#datepicker_from" ).datepicker();
      } );
  </script>

</th:block>
<div layout:fragment="content">
  <main class="flex-shrink-0">
    <section class="py-5">
      <div class="container col-lg-10">
        <div class="row gx-5">
          <h2 class="col-sm-8">스터디 개설</h2>
          <div class="col-sm-2"></div>
        </div>
          <div class="row gx-5">
            <div class="col-lg-8">
              <article>
                <div class="row mt-3">
                  <form action="/board/write" th:action th:object="${firstStudyDto}" method="post">
                    <input hidden type="text" name="id" th:field="*{id}"/><br>
                    <input hidden type="text" name="nickname" th:field="*{nickName}"/><br>
                    <div class="form-row">
                      <div class="form-group required col">
                        <label for="firstCategory">1차 카테고리</label>
                          <select th:field="*{interest1}" id="firstCategory" name="firstCategory" th:errorclass="field-error" class="form-control" onclick="category_change(this.value, secondCategory)">
                          <option value="">선택하세요</option>
                          <option value="1">개발</option>
                          <option value="2">자격증</option>
                          <option value="3">프로그램</option>
                        </select>
                        <small id="categoryHelp" class="form-text text-muted"></small>
                      </div>
                      <div class="field-error" th:errors="*{interest1}"/>

                      <div class="form-group required col">
                        <label for="secondCategory">2차 카테고리</label>
                          <select th:field="*{interest2}" id="secondCategory" name="secondCategory" th:errorclass="field-error" class="form-control" onclick="category2_change(this.value, thirdCategory)">
                          <option value="">선택하세요.</option>
                        </select>
                        <small class="invalid-feedback">2차 카테고리를 선택해주세요</small>
                      </div>
                      <div class="field-error" th:errors="*{interest2}"/>
                      <div class="form-group required col">
                        <label for="thirdcategory">3차 카테고리</label>
                          <select th:field="*{interest3}" id="thirdCategory" name="thirdCategory" th:errorclass="field-error" class="form-control">
                          <option value="">선택하세요.</option>
                        </select>
                        <small class="invalid-feedback">3차 카테고리를 선택해주세요</small>
                      </div>
                      <div class="field-error" th:errors="*{interest3}"/>
                      <div  class="form-group col">
                        <label >모집기간 🗓️</label>
                        <div class="calender_wrap">
                          <div class="calender_group"><input autocomplete="off" name="start" th:errorclass="field-error" class="calender1 form-control" type="text" id="datepicker_to" th:field="*{startDate}"></div>
                          <div class="field-error" th:errors="*{startDate}"/>
                          <span class="calender_group calender_font_event"><strong style="font-size:30px;">~</strong></span>
                          <div class="calender_group"><input autocomplete="off" name="end" th:errorclass="field-error" class="calender2 form-control" type="text" id="datepicker_from" th:field="*{endDate}"></div>
                          <div class="field-error" th:errors="*{endDate}"/>
                        </div>


                      </div>
                      <div class="form-group required col">
                        <label for="firstZone">1차 지역</label>
                        <select th:field="*{location1}" id="firstZone" name="firstZone" th:errorclass="field-error" class="form-control" onchange="zone_change(this.value, secondZone)">
                          <option value="">선택하세요.</option>
                          <option value="1">서울특별시</option>
                          <option value="2">부산광역시</option>
                          <option value="3">대구광역시</option>
                          <option value="4">인천광역시</option>
                          <option value="5">광주광역시</option>
                          <option value="6">대전광역시</option>
                          <option value="7">울산광역시</option>
                          <option value="8">강원도</option>
                          <option value="9">경기도</option>
                          <option value="10">경상남도</option>
                          <option value="11">경상북도</option>
                          <option value="12">전라남도</option>
                          <option value="13">전라북도</option>
                          <option value="14">충청남도</option>
                          <option value="15">충청북도</option>
                          <option value="16">제주도</option>
                        </select>
                        <small id="categoryHelp two" class="form-text text-muted"></small>
                      </div>
                      <div class="field-error" th:errors="*{location1}"/>
                      <div class="form-group required col">
                        <label for="secondZone">2차 지역</label>
                        <select th:field="*{location2}" id="secondZone" name="secondZone" th:errorclass="field-error" class="form-control">
                          <option value="">선택하세요</option>
                        </select>
                      </div>
                      <div class="field-error" th:errors="*{location2}"/>
                      <div class="form-check pull-right mr-0">
                        <input class="form-check-input" type="checkbox" onclick="is_checked()" id="onOffLine" th:field="*{onOffLine}">
                        <label class="form-check-label" for="onOffLine">
                          <b>Online</b>
                        </label>
                      </div>
                      <div class="form-group">
                        <label>짧은 소개</label>
                        <input type="text" th:errorclass="field-error" class="form-control" name="subtitle" style="width: 40%;" placeholder="스터디 한 줄 소개" th:field="*{subTitle}"/>
                        <small class="invalid-feedback">스터디 그룹을 짧게 소개해주세요</small>
                      </div>
                      <div class="field-error" th:errors="*{subTitle}"/>
                    </div>
                    <input id="subBtn" type="submit" value="다음으로" style="float: right;" onclick="goWrite(this.form)"/>
                  </form>
                </div>
              </article>
            </div>
          </div>
      </div>
    </section>
  </main>
</div>
<th:block layout:fragment="extraJs">
<script type="text/javascript" src="/js/category.js" ></script>
<script type="text/javascript" src="/js/zone.js"></script>
<script type="text/javascript" src="/js/new.js"></script>
<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/

  function is_checked() {

    const checkbox = document.getElementById('onOffLine');

    const is_checked = checkbox.checked;

    if(is_checked === true) {
      $("#firstZone").attr("disabled", true);
      $("#secondZone").attr("disabled", true);
    } else {
      $("#firstZone").removeAttr("disabled");
      $("#secondZone").removeAttr("disabled");
    }
  }

  /*]]>*/
  </script>
</th:block>
</html>