<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>게시글 작성 페이지</title>
</head>

<body class="d-flex flex-column h-100">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #283673 !important;">
    <div class="container">
        <a class="navbar-brand" href="/#">
            <img src="../img/logocopy.png" width="100" height="100" class="d-inline-block align-top" alt>
        </a>
        <button class="navbar-toggler togglerNoBorder" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
    <form th:action="@{/board/write}" method="post" enctype="multipart/form-data">
        <p><input type="text" name="board_Title"   placeholder="내용을 입력해주세요"></p>
        <p><input type="text" name="board_SubTitle" placeholder="내용을 입력해주세요"></p>
        <input type="hidden" name="board_Writer" value="${board_Writer}">
        <p><input type="file"></p>
        <p><input type="text" name="board_Content" placeholder="스터디를 자세히 설명해 주세요"></p>
        <p><button type="submit">글작성</button></p>
    </form>
</body>
</html>
