<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <title>title</title>
    <link
            href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"
            rel="stylesheet">
    <script
            src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script
            src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <!-- include summernote css/js-->
    <link
            href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css"
            rel="stylesheet">
    <script
            src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>

</head>
<body>
    <div style="width: 60%; margin: auto;">
        <form enctype="multipart/form-data" action="/board/secondWrite" th:action="@{/board/secondWrite}" th:object="${boardWriteDto}" method="post">

            <input hidden type="text" name="writer" th:field="*{board_writerId}"/><br>
            <input hidden type="text" name="nickname" th:field="*{writer_nickName}"/><br>
            <input hidden type="text" name="category1" th:field="*{writer_interest1}"/><br>
            <input hidden type="text" name="category2" th:field="*{writer_interest2}"/><br>
            <input hidden type="text" name="category3" th:field="*{writer_interest3}"/><br>
            <input hidden type="text" name="startDate" th:field="*{board_startDate}"/><br>
            <input hidden type="text" name="endDate" th:field="*{board_endDate}"/><br>
            <input hidden type="text" name="location" th:field="*{board_location}"/><br>
            <input hidden type="text" name="subtitle" th:field="*{board_subTitle}"/><br>
            <input hidden type="text" name="on_offline" th:field="*{board_onOffline}"/><br>
            <input type="text" name="title" style="width: 40%;" th:field="*{board_title}" placeholder="제목"/><br>
            <input type="text" name="subTitle" style="width: 40%;" th:field="*{board_subTitle}" placeholder="제목"/><br>
            <input type="file" multiple="multiple" name="attachFile" style="width: 40%;" placeholder="첨부파일"/>
            <br><br>
            <textarea name="board_content" id="board_content" class="form-control" placeholder="Type the content here!" th:field="*{board_content}"></textarea>
            <input id="subBtn" type="submit" value="글 작성" style="float: right;" onclick="goWrite(this.form)"/>
            <script>
            $(document).ready(function() {
                $('#board_content').summernote({
                    height : 300,
                    minHeight : null,
                    maxHeight : null,
                    focus : true,
                    callbacks : {
                        onImageUpload : function(files, editor, welEditable) {
                            for (var i = 0; i < files.length; i++) {
                                sendFile(files[i], this);
                            }
                        }
                    }
                });
            });

            function sendFile(file, el) {
                var form_data = new FormData();
                form_data.append('file', file);
                $.ajax({
                    data : form_data,
                    type : "POST",
                    url : '/file/images',
                    cache : false,
                    contentType : false,
                    enctype : 'multipart/form-data',
                    processData : false,
                    success : function(url) {
                        $(el).summernote('insertImage', url, function($image) {
                            $image.css('width', "50%");
                        });
                    }
                });
            }

            </script>
        </form>
    </div>
    </script>
</body>
</html>