<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>게시글 상세 페이지</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #283673 !important;">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="../img/logocopy.png" width="100" height="100" class="d-inline-block align-top" alt>
    </a>
    <button class="navbar-toggler togglerNoBorder" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pl-2 pt-1" id="navbarNavDropdown">
    </div>
  </div>
</nav>
<div class="container">
  <div>
    글번호 : <p id="board_Id">  [[${board.board_Id}]]</p>
  </div>
  글제목 :<p id="board_Title"> [[${board.board_Title}]]</p>
  한줄소개 :<p id="board_SubTitle"> [[${board.board_SubTitle}]]</p>
  <p>글내용 :
  <div id="board_Content">
        <textarea readonly="readonly" class="form-control"
                  th:text="${board.board_Content}"></textarea></p>
  </div>
  <p>조회수 : [[${board.board_Count}]]</p>
</div>
<div th:if="${board.board_Writer.toString().equals(board_Writer)}" style="flex-direction: row-reverse">
  <button id="deleteBtn" class="btn btn-danger btn-sm float-right">글 삭제</button>
  <button id="updateBtn" class="btn btn-info btn-sm float-right">글 수정</button>
</div><br>
<form id="form" th:action="@{/}" method="post"></form>
<h2></h2>
[[${session.nickName}]]: <input type="text" name="comment"><br>
<button id="wrtBtn" type="button">댓글작성</button>
<button id="modBtn" type="button">댓글수정</button>
<div id="commentList"></div>
<div id="replyForm" style="display:none">
  <input type="text" name="replyComment">
  <button id="wrtRepBtn" type="button">등록</button>
</div>
<script th:inline="javascript">

    let board_Id=[[${board.board_Id}]];

    let toHtml = function (comments){
        let tmp = "<ul>";

        comments.forEach(function (comment){
            tmp += '<li data-comment_Id='+comment.comment_Id
            tmp += ' data-parentComment_Id='+comment.parentComment_Id
            tmp += ' data-board_Id='+comment.board_Id + '>'
        if((comment.comment_Id!=comment.parentComment_Id) && (comment.parentComment_Id>0))
            tmp += 'ㄴ'
            tmp += ' 댓글 작성자=<span class="comment_Writer">' + comment.comment_Writer + '</span>'
            tmp += ' 댓글 내용=<span class="comment_Content">' + comment.comment_Content + '</span>'
            tmp += ' 작성 일자='+comment.reg_Date
            tmp += '<button class="delBtn">삭제</button>'
            tmp += '<button class="modBtn">수정</button>'
            tmp += '<button class="replyBtn">답글</button>'
            tmp += '</li>'
        })
        return tmp + "</ul>";
    }

    let showList = function (board_Id){
        $.ajax({
            type:'GET',
            url:'/comments?board_Id='+board_Id,
            success:function (result){
                $("#commentList").html(toHtml(result));
            },
            error:function (){alert("error")}
        });
    };

    $(document).ready(function (){

        showList(board_Id);

        $("#modBtn").click(function (){
            let comment_Id = $(this).attr("data-comment_Id");
            let comment_Content = $("input[name=comment]").val();

            if(comment_Content.trim()==''){
                alert("댓글을 입력해주세요.");
                $("input[name=comment]").focus()
                return;
            }

            $.ajax({
                type:'PATCH',
                url:'/comments/'+comment_Id,
                headers:{"content-type":"application/json"},
                data:JSON.stringify({comment_Id:comment_Id, comment_Content:comment_Content}),
                success:function (result){
                    alert(result);
                    showList(board_Id);
                },
                error:function (){alert("error")}
            })
            $("input[name=comment]").val('');
        })

        $("#wrtRepBtn").click(function (){
            let comment_Content = $("input[name=replyComment]").val();
            let parentComment_Id = $("#replyForm").parent().attr("data-comment_Id");

            if(comment_Content.trim()==''){
                alert("댓글을 입력해주세요.");
                $("input[name=replyComment]").focus()
                return;
            }

            $.ajax({
                type:'POST',
                url:'/comments?board_Id='+board_Id,
                headers:{"content-type":"application/json"},
                data:JSON.stringify({parentComment_Id:parentComment_Id, board_Id:board_Id, comment_Content:comment_Content}),
                success:function (result){
                    alert(result);
                    showList(board_Id);
                },
                error:function (){alert("error")}
            })
            $("#replyForm").css("display", "none")
            $("input[name=replyComment]").val('')
            $("#replyForm").appendTo("body");
        })

        $("#wrtBtn").click(function (){
            let comment_Content = $("input[name=comment]").val();

                if(comment_Content.trim()==''){
                    alert("댓글을 입력해주세요.");
                    $("input[name=comment]").focus()
                    return;
                }

            $.ajax({
                type:'POST',
                url:'/comments?board_Id='+board_Id,
                headers:{"content-type":"application/json"},
                data:JSON.stringify({board_Id:board_Id, comment_Content:comment_Content}),
                success:function (result){
                    alert(result);
                    showList(board_Id);
                },
                error:function (){alert("error")}
            })
            $("input[name=comment]").val('');
        })

        $("#commentList").on("click", ".modBtn",function () {
            let comment_Id = $(this).parent().attr("data-comment_Id");
            let comment_Content = $("span.comment_Content", $(this).parent()).text();

            $("input[name=comment]").val(comment_Content);
            $("#modBtn").attr("data-comment_Id", comment_Id);
        });

        $("#commentList").on("click", ".replyBtn",function () {
            $("#replyForm").appendTo($(this).parent());
            $("#replyForm").css("display", "block");
        });
        $("#commentList").on("click", ".delBtn",function (){
            let comment_Id = $(this).parent().attr("data-comment_Id");
            let board_Id = $(this).parent().attr("data-board_Id");
            $.ajax({
                type:'DELETE',
                url:'/comments/'+comment_Id+'?board_Id='+board_Id,
                success:function (result){
                    alert(result)
                    showList(board_Id);
                },
                error:function (){alert("error")}
            });
        });

        let form= $("#form");
        let board_Title = [[${board.board_Title}]];
        let board_SubTitle = [[${board.board_SubTitle}]];
        $(document).on('click', '#deleteBtn', function (e){
            $('#form').attr("action", "remove");
            form.append("<input type='hidden' name='board_Id' value="+board_Id+">");
            form.append("<input type='hidden' name='_method' value='post'>");
            form.submit();
        })
        $(document).on('click','#updateBtn', function (e) {
            let str="<input class='form-control' width='250'" +
                "value='"+board_Title+"' id='updateBoard_Title'>";
            $("#board_Title").html(str);
            let str2="<input class='form-control' width='250" +
                "value='"+board_SubTitle+"' id='updateSubBoard_Title'>";
            $("#board_SubTitle").html(str2);
            let str3="<textarea  class='form-control' id='updateBoard_Content'></textarea>";
            $("#board_Content").html(str3);
            $("#updateBtn").attr("id", "updateConfirmBtn");
        })

        $(document).on('click','#updateConfirmBtn', function (e){
            $('#form').attr("action", "modify");
            let updateBoard_Title= $('#updateBoard_Title').val();
            let updateBoard_SubTitle= $('#updateSubBoard_Title').val();
            let updateBoard_Content= $('#updateBoard_Content').val();
            form.append("<input type='hidden' name='board_Id' value='"+board_Id+"'>");
            form.append("<input type='hidden' name='_method' value='post'>");
            form.append("<input type='hidden' name='board_Title' value='"+updateBoard_Title+"'>");
            form.append("<input type='hidden' name='board_SubTitle' value='"+updateBoard_SubTitle+"'>");
            form.append("<input type='hidden' name='board_Content' value='"+updateBoard_Content+"'>");
            form.submit();
        })
    })

</script>


</body>
</html>